[2015-02-10 10:52] limsbeheer opened #1 "Regular expressions in PrimitiveRuleBindings"
Hi!

We found an issue with the regular expressions of the PrimitiveRuleBindings (in class DefaultValidation).
The regular expressions have no matching symbols for the start and ending of the string. This way, too many strings match the regular expressions. By adding the ^ and $ symbols at the beginning and ending of the regexs, only the proper strings are matched.

Thanks!

[2015-02-11 04:38] duaneedwards commented on #1
Thanks for reporting this one.

Having a look into it I'm a bit cautious of making a change around these regular expressions just at the moment.

Take for example:

[code]

This particular regular expression appears to be trying to enforce that NM results are only numbers ... but since it doesn't have the start and ending anchors as you've pointed out, it will actually match NM results that aren't

[2015-02-11 13:34] AFAde opened #2 "Data type DTM missing"
Hi,
in the HAPI project I can see the DTM type starting from the version 2.4 but I cannot find it in the nHapi project.

The DTM (date and time) data type replaces TS. The TS data type consisted of 2 components. The second component of TS had the aim of conveying the precision of the date and time value contained in the first component.

The definition of DTM is equal to that of TS - without the s

[2015-02-11 13:34] AFAde opened #3 "Each segment being parsed twice"
Hi all,
I have noticed that each segment is being parsed twice. Normally this is not a big issue but if the hl7 file contains a big embedded PDF as base64 string, it actually causes serious performance issues.

Are you aware of this problem? If needed I can provide more info about that.

[2015-02-12 15:38] limsbeheer commented on #1
The example you described is exactly what we meant. Just fixing this one, will certainly make people angry, not a good idea ;-)

Our idea is to add an optional boolean parameter to the constructor of the PipeParser (default: false). If set to True, the validation with the more strict regular expressions is added, else the current default validation is used.
Can this be a working solution?

[2015-02-12 22:27] duaneedwards commented on #3
Are you able to please provide an example of this behaviour occuring?  I've tried to reproduce this using the PipeParser and each segment is only getting parsed once as far as I've determined ...

If you could provide a test case that would be great

[2015-02-13 09:01] AFAde commented on #3
Hi, thanks for the quick answer.
If you set a break point at the end of the private method nextToken(char[] localDelimiters) of the class Tokenizer and start debugging the parsing of any hl7 file, you will see the process hitting that break point twice for each line of the hl7 file.

If you cannot reproduce that, I will send you an hl7 file that causes me this issue

[2015-02-19 00:22] bbunderson opened #5 "NHapi.Model.V251 not in NuGet Package 2.4.0.4"
Is there any reason that the V2.51 model is not in the latest NuGet package?

[2015-02-19 01:38] duaneedwards commented on #5
Thank you for reporting this.

The issue was that I created command line targets for packaging and deploying the nuget package, and in the process of doing so mistakingly didn't add the reference for the V2.51 model to get packaged and deployed.

I've since corrected this and pushed a new version to nuget.org which includes the V2.51 model.

[2015-02-19 01:38] #5 closed

[2015-02-19 13:54] bbunderson opened #6 "2.51 Does Not Support Mutliple OBX for ORU^R01"
The ORU_R01_ORDER_OBSERVATION class for 2.51 is missing OBSERVATIONRepetitionsUsed property and GetOBSERVATION(int rep) method creating an issue for accessing multiple OBXs. This may be by design, but I am not sure.

[2015-02-19 22:30] THEStephenStanton opened #8 "Description Fields"
I noticed that when trying to get the descriptions of each segment that the Description field is always null and the only way to get it is to use the method .GetFieldDescription(num).  For instance I am using an ORM_O01 and to access PID.7 orm.PATIENT.PID.DateTimeOfBirth.Description is always null yet orm.PATIENT.PID.GetFieldDescription(7) gives me the value I am looking for.

[2015-02-20 14:33] THEStephenStanton commented on #8
Solved my own issue, I see how you structured it.

[2015-02-20 21:37] duaneedwards commented on #8
I'm curious, which way did you end up using to access the data you were after?

[2015-02-20 22:40] duaneedwards commented on #6
Thank you for raising this issue.

I've looked over the spec, and it turns out for the ORU_R01 message type with V2.51, not just the observation segment was incorrect, the Timing Quantity and Specimen segments also exhibited the exact same error. (Not repeating when it should have been, marked as a required segment when in fact they are optional).

I've regenerated the ORU_R01 definition for V 2.5

[2015-02-20 22:40] #6 closed

[2015-02-21 00:32] duaneedwards commented on #1
As suggested I've now moved out the regular expression field validations into their own new opt-in StrictValidation context, correcting the anchoring tags as you've raised.

There are a few unit tests as well that I've added around the SI / NM number validation, using both the default / strict validation methods now available in the 'ValidationTests' test fixture if you want to see how to use the

[2015-02-21 00:32] #1 closed

[2015-02-21 04:10] THEStephenStanton commented on #8
Basically I parsed each segment in the message, then casted each segment as an AbstractSegment then from there I used the NumFields() for a for loop so that I could access each field and field description by its index using GetFieldDescription() and GetFieldValue().  It was rather easy for the descriptions, the values were tricky though.  I had to use recursion and check the types to get some of v

[2015-02-21 05:45] duaneedwards commented on #3
Thanks AFAde, I've reproduced this behaviour and have implemented a simple caching system of the extracted token which will prevent the duplicate extraction of each subsequent token.

I'll push this change up in a new release to nuget later today.

Sorry it took a while, I just needed to convince myself this change actually does improve performance.  My findings were such that you wouldn't really

[2015-02-21 05:45] #3 closed

[2015-02-21 11:57] duaneedwards commented on #8
Yes that made perfect sense, it helped me to see what you are trying to achieve.

I had a look into this and it wasn't too difficult to wire up the parser to populate the description fields, so now you will be able to use as you originally attempted to:

[code]

I'm going to package this into version 2.4.0.7 and push it up to nuget.org shortly if you'd like to have a look.

[2015-02-21 11:57] #8 closed

[2015-02-23 09:24] AFAde commented on #3
Hi Duane ,
that's great news.Thanks a lot.

Antonio

[2015-02-24 08:46] limsbeheer opened #9 "DataTypeException.FieldPosition incorrect for MSH segment"
When catching a DataTypeException the FieldPosition property is incorrect for the MSH segment. For other segments it represents the correct field position number.

E.g. when MSH-7 (Date/Time of message) contains value '20151301' DataTypeException.FieldPosition holds number 6. Expected is 7.
For PID-7 (Date/time of birth) the number is indeed 7.

I think it's because MSH-1 (Field separator) is not

[2015-02-24 17:37] THEStephenStanton commented on #8
Thanks! Works perfect.

[2015-02-27 13:28] limsbeheer opened #10 "PipeParser.GetMessageStructureForEvent does not return the correct value"
For example: when PipeParser.GetMessageStructureForEvent("ADT_A04", "2.5") is called, "ADT_A01" is expected, instead "ADT_A04" is returned.

Some debugging yields the following:
In method EventMapper.GetAssemblyEventMapping calling assembly.GetManifestResourceStream(package.EventMappingResourceName) returns null.
This is because EventMappingResourceName contains two dots: one from _packageName and

[2015-02-27 15:31] limsbeheer opened #11 "In DefaultValidation class the FT data type is set to a maximum of 32000 characters"
Should be to a maximum of 65536 characters, as used in NTE-3 for example.

[2015-03-01 22:08] #11 closed

[2015-03-02 05:59] duaneedwards commented on #10
Thanks limsbeheer.

I'm pretty sure that this has already been fixed as a part of c0375c72fb50bfccb1dc54e6c9b2cfdbc7bc1879

I haven't been able to reproduce this locally, are you running version 2.4.0.7?  This change should be a part of that release.

[2015-03-02 08:06] limsbeheer commented on #10
I just downloaded the latest sources (which is 2.4.0.7) with the "Download ZIP" button and built it. Now when I call PipeParser.GetMessageStructureForEvent it still gives me value "ADT_A04" instead of "ADT_A01".
The fix you made in the private constructor is needed to get the package name without trailing dot to load the assembly succesfully. But the dot remains in property package.PackageName.
So

[2015-03-02 08:13] duaneedwards commented on #10
Strange ... I'm unable to reproduce this however the problem may lie with my test method?

Here's what I'm running locally to verify this:

[code]

Does this differ from what you are attempting to run?

[2015-03-02 08:20] limsbeheer commented on #10
Yes: input value "ADT_A04" should yield "ADT_A01" since A01 is the structure for event A04. So the first Assert should be: `Assert.AreSame("ADT_A01", result);`
The second assert is correct: A01 is the structure for event A01.
Other events which use the A01 structure are A08 and A13.

[2015-03-02 10:21] duaneedwards commented on #10
Ahhh... it all makes sense now.  I misread it the other way around and as such my tests weren't reporting back any errors as you can tell.

You're right, I'll strip out the prepending '.' from the EventMappingResourceName getter which will make the assembly load as it should.

I'll put this fix in the next release, A04's are returning A01 as expected, however A13's / A08's are not returning the ex

[2015-03-02 10:45] #10 closed

[2015-03-02 11:35] duaneedwards commented on #9
You're correct on this one as well, the problem was basically that for the segments with an offsetted field position (MSH / FHS / BHS), the offset wasn't being included as part of the field position when the caught exception was rethrown.

Fix to follow shortly.

[2015-03-02 11:36] #9 closed

[2015-03-02 14:44] limsbeheer opened #12 "Question about method HL7Exception.populate"
We use method `HL7Exception.populate` to populate the ERR-segment of an ACK-message when an HL7Exception has been caught.
Every time we call this method `System.InvalidOperationException` ('The ConnectionString property has not been initialized.') is thrown since we do not use a database to provide a value to ERR-1-4-2.
Is it possible to catch this exception in method `HL7Exception.populate` for d

[2015-03-02 21:04] duaneedwards commented on #12
That makes sense to do, I don't suspect anyone will be shipping the database with nHapi so I'll change it to catch InvalidOperationExceptions as well shortly.

[2015-03-02 21:05] #12 closed

[2015-03-12 19:10] taiji123 opened #13 "Version 2.1 is missing from LoadBaseVersions"
Failed processing messages with 2.1 version.  All the DLLs were in place, so wasn't a config issue.  The error text brought me to this line inside LoadBaseVersions method in NHapi.Base.PackageManager:

string[] versions = new string[] { "2.2", "2.3", "2.3.1", "2.4", "2.5" };

I added "2.1" to that array, and all started working.

Would hate to modify (and therefore having to maintain) your (origin

[2015-03-12 21:21] duaneedwards commented on #13
Looking at the svn logs, it looks like it's been this way from day one (back in 2006), which is long before I got involved with the project.

So I don't actually know why it was never put into that list to begin with.

I've added it back in and did a simple test to see that it parses as it should, it seems to be working alright.

I'll push this change up to nuget shortly.

[2015-03-12 21:21] #13 closed

[2015-03-12 21:39] taiji123 commented on #13
Awesome; thank you!

[2015-03-16 19:53] taiji123 opened #14 ""IN1, IN2, IN1, IN2" results in "IN1, IN2, IN12, IN22""
When processing this message:

MSH|^~\&|INV|TEST123|FACILITY123|TEST|201503152359||ADT^A08|CHPFQP03|T|2.3
EVN|A08|201503152359
PID|1||30210546||DOE^JOHN^V||19450225|M||1|3001 BLAH RD^APT 430^VOORHEES^NJ^08043||(555)751-1600^PRN^^^^555^7511600|(555)751-1600^OTH^^^^555^7511600||||A1233848515|123-45-6789
PD1|||||||||||
NK1|0001|NAME1^NAME2|O||(555)339-6750^PRN^^^^555^3396750||1
NK1|0002|NOT EMPLOYED|

[2015-03-16 22:13] duaneedwards commented on #14
Hrmm ... I don't seem to be able to see what you are seeing here.

Here's what I did, first I changed the control characters from '^~&' to '^~\&' so that I can encode back to a pipe format from the decoded message.

Then just running:

[code]
And inspecting the results, things seem ok to me... Where are you inspecting such that you can see these IN12 and IN22 segments?

[2015-03-16 22:42] taiji123 commented on #14
Not sure what you changed the control characters to (both appear identical, '^~&'), but regardless... maybe the encoding process knows how to handle these cases.  Maybe that's why they're named like that, to "group" or "bind" the IN1s with their correspondent IN2s...

Here's how I got to see it, using the debugger (and the message in the OP, without any modification):

`PipeParser parser = new Pip

[2015-03-17 20:11] taiji123 commented on #14
In the meantime I've worked around the issue by truncating all segment names that are longer than 3 characters.  (Did it after the `parser.Parse` call, while processing the parsed results to build our object model -- i.e. outside the core code.)  Not pretty, but it worked.  Just FYI.

[2015-03-17 21:56] duaneedwards commented on #14
I changed the control codes to '^~\\&', sorry was an escaping issue with the github markdown it seems.

The insurance related segments do get grouped into the parsed message as they are a repeating group of optional, repeating segments, I think you're right in that the appended numbers are related to the grouping mechanism.

It looks like you are dealing with the abstract / raw base type which is

[2015-03-17 21:56] #14 closed

[2015-03-25 09:56] rajputs6 opened #15 "ORU_R01 v2.5.1 parsing issue"
Hi Everyone,
           I am trying to load ORU_R01 lab result but its causing issue and observations are not loading .

We also generated OML_021 lab order with v 2.5.1 successfully

 Only problem is ORU_R01 .

 GetPATIENT_RESULT(0).ORDER_OBSERVATIONRepetitionsUsed is not going to set and also when debug the

 GetPATIENT_RESULT(0) shows (_item prop) 2 structures one is ORU_R01_PATIENT and second

[2015-03-25 13:19] bbunderson commented on #15
What version are you using? This issue was addressed around 2.4.0.7.

[2015-03-25 13:31] kyra-diablo opened #16 "Repetitions Used sometime 1 instead of 0"
Even if a message does not contain a segment, the repetitions used property can be still 1.

E.g. in the test called TestOBR5RepeatingValuesMessage (in ParserTest.cs), the ORU message does not contain NK1 segments, but adding the following assert fails the test:
Assert.AreEqual(0, oru.GetPATIENT_RESULT(0).PATIENT.NK1RepetitionsUsed);

I have the problem with all sort of messages (2.4 version too).

[2015-03-25 13:53] rajputs6 commented on #15
we are using a year old build we downloaded . i.e. 2.4.0.3 . do we need to update ? . which version should we use ?

Thanks

[2015-03-25 13:58] rajputs6 commented on #15
Sorry correction.That was  2.4.0.1 we downloaded from codeplex site . do we need to update ? . which version should we use ?

Thanks

[2015-03-25 14:23] bbunderson commented on #15
The best option would be to use the latest Nuget package.

[2015-03-26 12:09] Sikkesoft opened #17 "Planned support for newer specifications"
Hi Duane,

Are there any plans to support HL 7 v2.6 and v2.7 specifications?
If so by what time?

[2015-03-26 20:37] duaneedwards commented on #15
bbunderson is right, I believe this is the issue that was resolved a little while ago in 2.4.0.6.

You can get the latest nHapi off of nuget using

[code]
Or just using the Package Manager screen in Visual Studio.

If this problem still occurs on latest, please provide a test harness for me to look into.

[2015-03-26 20:42] duaneedwards commented on #17
Not in the immediate future, as there are some issues with the code generator which produce different results than the current model libraries within nHapi.

These should be resolved before generating the newer HL7 specification parsers so that the project remains consistent in behaviour.

[2015-03-26 21:45] duaneedwards commented on #16
This seems like a pretty deep problem within the code generator / parser when handling groups.  The behaviour is that for a group (i.e. in this case the ORU_R01_Patient group), all of it's known message structures get added (regardless of whether or not they exist), and then parsed into / extra segments created as needed.

So you'll always get a count of at least 1 for segments in a group, whether

[2015-03-28 18:53] HimanshuSinghal1990 opened #18 "ADT A01 v2.3 - Getting Repetition Count 1 instead of 0 When Segment not Present"
Hi Everyone ,

When i am parsing the hl7 message, when segment is not present it gives the repetition count = 1 instead of 0.

HL 7 Message Grammar : {MSH},{EVN},{PID},{PD1},{NK1},{PV1},{PV2},{GT1},{IN1},{IN2}

Code :
IMessage parsedMessage = null;
PipeParser parser = new PipeParser();
parsedMessage = parser.Parse(message);
ADT_A01 a01 = messageParsed as ADT_A01;

![screenshot-1](https://cloud.git

[2015-03-31 11:46] rajputs6 commented on #15
Hi bbunderson/duaneedwards ,
                                                     I updated with latest build bot no success. I have uploaded  test application for your reference . can you please check and suggest. Thanks in advance

https://onedrive.live.com/redir?resid=8c649d61ddd7a893!244&authkey=!ALJgCXROUSlKNoQ&ithint=folder%2czip

[2015-03-31 22:36] duaneedwards commented on #15
rajputs6, I've had a look at your project and the basic problem is message itself.

There are no escape characters between the segments (PID, ORC, OBR, OBX, SPM).

I can see you manually inserted an Environment.Newline character between the MSH and PID segments.  If you use the same approach of adding those Environment.Newline characters between all of the other segments (PID, ORC, OBR, OBX, SPM),

[2015-03-31 22:36] #15 closed

[2015-04-01 08:04] rajputs6 commented on #15
Thanks all for the help . it worked . Now after update to latest version I got  GetOBSERVATION(int rep) which was not available in old build we were using . Now I am able to parse message.

[2015-04-06 07:26] HimanshuSinghal1990 commented on #18
Can anyone Help me out  on this . Really Urgent.

[2015-04-09 18:33] mornemaritz opened #19 "Patient Referral Message (REF_I12) PID Segment not being parsed"
Hi,

I have an issue where the nHapi PipeParser does not appear to be parsing the PID segment of an REF_I12 (Patient Referral) message. If I use the exact same PID segment in a different message (ADT_A01), the PID Segment is parsed. I'm using HL7 version 2.5

The following working code illustrates the issue:

	using NHapi.Base.Parser;
	using NHapi.Model.V25.Message;
	using System;

	public class M

[2015-04-09 19:08] mornemaritz commented on #19
Hi,

I've found the source of the issue.

After checking the [HAPI API Docs](http://hl7api.sourceforge.net/), I realised that I was not populating a required segment of the REF_I12 message, namely the REF_I12_PROVIDER_CONTACT segment. Adding this segment to the message while building it using the following line of code (added to the test class in the original question) resulted in successful parsi

[2015-04-09 19:08] #19 closed

[2015-04-14 18:52] lharless opened #20 "nHapi/NHapi20/NHapi.Model.V251/Datatype/ST.cs incorrect namespace?"
I am trying to parse some V251 HL7 OBX lines with a datatype of ST.  These are causing exceptions.  I've narrowed it down to line 164 of

nHapi/NHapi20/NHapi.Base/Model/Varies.cs

Type c = factory.GetTypeClass(obx2.Value, segment.Message.Version);

This returns null when obx2.Value="ST"

If I change the namespace line in

nHapi/NHapi20/NHapi.Model.V251/Datatype/ST.cs

to

namespace NHapi.Model.V25

[2015-04-17 18:58] taiji123 opened #21 "No way to tell composite fields with a single value from non-composite ones?"
It may be just me being blind, but I can't find any way to tell between the two, which makes things very inconsistent when presenting the results as a tree.

As a concrete example, I have a message starting with: "MSH|^~\\&|INV|**FAC^BLAH**|TESTAPP|..."
When traversing the `IMessage` returned from `PipeParser.Parse` method, a call to `GetField(4)` for that segment (the "FAC^BLAH" value) returns `V

[2015-04-19 18:33] HimanshuSinghal1990 opened #22 "ORU^R01 - Version 2.2 and 2.3 (can't get repetition 2 from field 5 - maximum repetitions is only 1 reps.: segment: obx (rep 0) field 5)"
Hi ,

I am getting this Error While Parsing the message .

pipeparser.Parser(message) ---> It throws exception at this line.
Error : can't get repetition 2 from field 5 - maximum repetitions is only 1 reps.: segment: obx (rep 0) field 5

Message Version 2.2 and 2.3

Sample Message :
MSH|^~\&|LAB|SSS|RRRR1||201412080903||ORU^R01|2014342330808001||2.2
PID||000000000^8|000000000^^^SSS^MR|||||F||1||||

[2015-04-21 10:01] duaneedwards commented on #22
Resolved as per answer here:
http://stackoverflow.com/questions/29734229/orur01-version-2-2-and-2-3-cant-get-repetition-2-from-field-5-maximum-rep

[2015-04-21 10:01] #22 closed

[2015-04-21 14:24] HimanshuSinghal1990 commented on #22
The above solution worked for me .

Thank you.

[2015-04-23 01:53] duaneedwards commented on #20
Thanks lharless, I've reproduced this and made a fix to resolve this in 35130ef25751236f65c305839d8e0b1f2480e82f.

This has been pushed to nuget.org as a new version v2.4.0.11 now for you to use.

[2015-04-23 01:53] #20 closed

[2015-04-23 02:17] duaneedwards commented on #18
Duplicate of #16

[2015-04-23 02:17] #18 closed

[2015-05-05 23:34] rajeshsivakumar opened #23 "Not able to access DG1 segment elements"
I am trying to extract the DG1 segments but looks like there is an issue with accessing repeated sections. I am getting null values for all the values in the DG1 segment. Given below is a test which shows what I am doing.

private const string message = @"MSH|^~\&|ATHENANET|7598^IN - Ascension - Indiana|ABC::CHL7||201504292358||ADT^A01|109770208|P|2.5||||||||
                            EVN|A08|20

[2015-05-06 17:34] rajeshsivakumar commented on #23
Looks like the parser has some issues with the specific message that I am using.

[2015-05-06 18:09] #23 closed

[2015-05-22 14:33] juvasquezg commented on #17
Hi All,

I need support HL7 v3 in .Net, can you recommend me? is dificult?

Thank you So Much.

[2015-05-23 04:10] duaneedwards commented on #17
V3 is a totally different standard and is basically outside the scope of nHapi.

There are other open source solutions for the V3 standard such as http://hl7sdk.codeplex.com/ however it's GPL licensing may prove to be an issue depending on your method of usage.

[2015-05-23 04:10] #17 closed

[2015-05-28 20:14] stephenhauck opened #24 "No IN1 segments ?"
I am parsing a 2.4 message and I try to parse the insurance information and it says it does not exist even though I see it in the message and the object knows about the insurance information because it shows INSURANCERepetitionsUsed = 1.

I try the code below and the the error shown:
NHapi.Model.V24.Segment.IN1 in1 = (NHapi.Model.V24.Segment.IN1)m.GetStructure("IN1");
IN1 does not exist in the gro

[2015-06-02 15:51] THEStephenStanton commented on #24
Seams to give the same problems with 2.5 and 2.5.1 messages.

[2015-06-10 19:34] taiji123 commented on #21
OK I finally got it.  The problem was larger-scale, with field descriptions being unavailable, etc.  Bottom line, basically the proper version-specific classes were all missing from the returned `IMessage` object, but no error was thrown and everything was *sort of* working (it was actually parsing the message) -- but in a very limited, and version-independent manner.

The causes were:
1) The "non

[2015-06-19 21:39] taiji123 opened #25 ""Can't get repetition" errors for PID (possibly other segments too?)"
Running with 2.4.0.11 DLLs, I'm seeing the following behavior:

Test message:
`MSH|^~\&|MILL|EMRY|MQ|EMRY|20150619155451||ADT^A08|Q2043855220T2330403781X928163|P|2.3||||||8859/1`
`EVN|A08|20150619155451`
`PID|1|935307^^^EUH MRN^MRN^EH01|25106376^^^TEC MRN~1781893^^^CLH MRN~935307^^^EUH MRN~5938067^^^EMPI|1167766^^^CPI NBR^^EXTERNAL~90509411^^^HNASYSID~10341880^^^HNASYSID~50627780^^^HNASYSID~593806

[2015-06-22 13:57] #21 closed

[2015-06-26 19:01] cessationoftime opened #26 "v2.5.1 does not support multiple OBX for ORM_O01"
The ORM_O01_ORDER_DETAIL class for v2.5.1 is missing OBSERVATIONRepetitionsUsed property and GetOBSERVATION(int rep) method.

OBX should be optional and repeating in v2.5.1 for ORM_O01
[HAPI OBX V2.5.1](http://hl7api.sourceforge.net/v251/apidocs/ca/uhn/hl7v2/model/v251/group/ORM_O01_ORDER_DETAIL.html)

[2015-07-17 18:44] AdamKalnas opened #27 "No Support for nHapi for v2.7"
Looking at the HL7 standards, I see that the latest version of the HL7 standards is v2.7, which was published in 2011.  It's :crying_cat_face: that nHapi doesn't support v2.7

[2015-07-29 12:19] lniedzielski opened #28 "nHapi 2.4.0.8 and upwards break Custom Models discoverability"
nHapi generates GenericMessage instead of proper custom one. It used to work from versions 2.4.0.0-2.4.0.7 but 2.4.0.8 breaks it.
It's pretty straightfoward to test with example "Invalid MSH-9 Example" from http://www.dib0.nl/code/478-nhapi-and-generic-messages-using-the-terser-or-custom-message-classes

[2015-07-29 12:23] lniedzielski opened #29 "Custom Model discoverability and HL7 versioning"
In order to point nHapi to custom models one needs to configure App.config to something like:

	<Hl7PackageCollection>
		<HL7Package name="MyNamspace.CustomModel." version="2.3"/>
	</Hl7PackageCollection>

The problem is I cannot set version attribute to anything above like 2.4 or 2.5. Otherwise Parser generates generic messages without resolving to custom classes.

[2015-07-29 12:43] #29 closed

[2015-07-29 18:22] rutzelt opened #30 "V251 ADT_A01 Insurance Repetitions"
Hello.  I recently started using version 2.5.1 of the nHapi model for a project I'm doing.  First of all, thanks to everyone for supporting this library.  It is extremely helpful.

I have to create an INSURANCE segment dynamically based on 1..n segments.  I had formerly used version 2.3.1 for this purpose.  Using that version, I was able to use GetInsurance(index) where it would automatically crea

[2015-07-31 18:36] Hardrada opened #31 "PipeParser.Encode produces duplicate values for some fields"
private void CreateOBX(ORU_R01_ORDER_OBSERVATION orderObservation)
        {

            var obr = orderObservation.OBR;
            obr.SetIDOBR.Value = "1";
            obr.PlacerOrderNumber.UniversalID.Value = [SOME VALUE];
            obr.UniversalServiceID.Text.Value = "Document";
            obr.ObservationEndDateTime.TimeOfAnEvent.SetLongDate(DateTime.Now);
            obr.ResultStatus.Val

[2015-08-04 13:06] rajputs6 opened #32 "V 2.5.1 ADT_A04 & ADT_A08 message types not found ."
Hi ,
        I am trying to create AD_A04 & ADT_A08 but these message types are not available in v2.5.1 . Please suggest. I can see that these message types are available in 2.3.1 . I am using little bit older version of library 1.x

Thanks in advance

[2015-08-04 15:51] rutzelt commented on #32
The ADT^A08 event uses message structure ADT_A01.

[2015-08-08 11:55] rajputs6 commented on #32
Thanks it worked

Sent from Outlook

On Tue, Aug 4, 2015 at 8:51 AM -0700, "rutzelt" <notifications@github.com> wrote:
The ADT^A08 event uses message structure ADT_A01.

---
Reply to this email directly or view it on GitHub:
https://github.com/duaneedwards/nHapi/issues/32#issuecomment-127656497

[2015-08-12 12:01] rajputs6 opened #33 "HL7 2.5.1 ORU_R01 RelevantClinicalInformation OBR-13 ST Type not compatible"
Hi ,
       I found that the RelevantClinicalInformation OBR-13 is of type ST but as per HL7 standard it should be CE .  http://hl7v2-lab-testing.nist.gov/mu-lab/.

To make it workable I have made it to CE and it worked for me . I am using version Nhapi 1.9. If it is fixed in latest release then please reply.

Thanks

[2015-08-19 10:45] lechuckcaptain opened #34 "Missing Insert functionality for repeatible fields"
It's hard to create a message from scratch using nHapi, and it's almost impossible when it's necessary to fill repeatible fields (e.g. PID-3).

I managed to go on using the Terser like this (it seems that the repetition is created when necessary, but it's needed the strange repetition PID-3-1 and PID-3(1)-1).

terser.Set("/PATIENT/PID-3-1", "a");
terser.Set("/PATIENT/PID-3(1)-1", "bb");
terser.Set

[2015-08-19 21:26] thestephenstanton opened #35 "V23 ORM Message Not Parsing Right"
If you have an 2.3 ORM^O01 and run it through PipeParser.Parse() it will return back a GenericMessage.V23 IMessage.  It only happens for 2.3.  It does however work if you pass in ORM^O01^ORM_O01 as the type.  But this should not be required.

[2015-09-11 07:50] nono37 opened #37 "NHapi.Model.V251.Group.OUL_R22_ORDER without RESULT"
The object NHapi.Model.V251.Group.OUL_R22_ORDER have a Property "OBXTCDSIDNTE".
This property should not exist !
It seems it's a part of group "RESULT".

[2015-09-21 23:32] Eric-Cadwell opened #38 "TSComponentOne GetAsDate does not handle offset from UTC/GMT"
Some messages we process have the date/time of message in MSH formatted with the time zone offset from UTC/GMT. However there isn't a formatting string that matches enough for the ParseExact to work. We can provide a format string of yyyyMMddHHmmsszzz to parse the time zone offset properly.

[2015-09-21 23:37] Eric-Cadwell opened #39 "Whitespace after version number causes an issue"
If there is white space after the version number it can cause the parser to be unable to find the proper message class from the class factory. When checking versions in IsValidVersion() method strips trailing/preceding white space using string.Trim() but it doesn't do this in other locations, so the dictionary look up ends up using "2.3 " instead of "2.3" and fails to find an entry for the key. Th

[2015-09-21 23:47] Eric-Cadwell opened #40 "Unexpected Segments cause later parsing issues"
When processing a message with an unexpected segment it throws off the remaining segments from being processed correctly for the message. This seems to be due to the iterators getting to the end of a group and never walking back up to where the iterator was last. Upon the next segment being processed it starts from that point and continues forward, potentially being past the point where the matchi

[2015-09-21 23:54] Eric-Cadwell commented on #35
I had to investigate some other issues and hit this as well. Since I was investigating I went to see why this was happening.

It looks like being provided only the first two segments it's doing a lookup from the EventMap. However the 2.3 EventMap has five entries for ORM_O01. This causes it to come back with a type name of "ORM_O01,OMD_O01,OMN_O01,OMS_O01,RDO_O01" which isn't found in the class lo

[2015-10-15 06:19] ohadinho opened #42 "How to validate a 2.3 standard message ?"
Hi,
There is no documentation at all of how should a user validate a message with this project.
Can someone assist ?

[2015-11-06 00:02] drhuntzzz opened #43 "RSP_K21 doesnt allow RSP_K21_QUERY_RESPONSE to repeat."
The 2.5.1 standard defines RSP_K21 twice. 3.3.56 allows RSP_K21_QUERY_RESPONSE to repeat. Can we have RSP_K21_QUERY_RESPONSE set to allow repeating?

3.3.56 Get Person Demographics (QBP) and Response (RSP) (Events Q21 andK21)
3.3.57 Find Candidates (QBP) and Response (RSP) (Events Q22 and K22)

[2015-11-25 00:03] Eric-Cadwell opened #44 "Message escaping isn't functioning properly on all UNC strings"
If you have a UNC string that contains a character that matches a special character (X,Z,C,M,H,N,S) immediately after a '\' character the escape class treats this as you intended to have the special escaped special character there even if the third character in the sequence doesn't match. For example one special character encoding should be \S\ but if you have \\Server\Share those shouldn't be fla

[2015-11-25 00:05] Eric-Cadwell commented on #40
I've had to make an additional changes due to how repetitions for segments were relying on beginning from that point in the message navigator.

[2015-12-31 22:19] 0x4AMiller opened #45 "Field OBX-5 in V21 is defined as ST and not defined as type Varies"
Which is causing invalid cast exception on line # 184 in NHapi.Base.Model.Varies

in fixOBX5 method...
foreach (IType repetition in segment.GetField(5))
{
    Varies v = (Varies) repetition;                               <--- Invalid cast exception
        ...
}

[2016-01-05 17:58] gap777 opened #46 "Missing conformance profile validation"
Java-based HAPI v2.2 has the ca.uhn.hl7v2.conf namespace dedicated to conformance profile support - parsing them and using them to validate messages. It would be helpful if this were ported to the .NET nHAPI.

[2016-02-09 14:46] TPucke opened #47 "Requesting code example for message types that are not provided directly."
Recognizing that some message classes are intended for use to implement other messages (e.g. A01 supports A04 and A08), can you please provide a wiki page to illustrate the decoding of an A04 or A08 message.  When I parse a message of either type I get an instance of class NHapi.Base.Model.GenericMessage+V25 and this seems unlikely that my application should have to provide special handling to dec

[2016-03-04 08:42] dib0 opened #48 "Small bug in milliseconds parsing CommonTM.cs"
When parsing a date/time including milliseconds (for example "19460408000000.000") CommonTM throws an exception on line 236:
float fract = Single.Parse(timeVal.Substring(6));
I can't figure out why exactly, since my OS is set to "en-US", but somehow the parsing of ".000" fails. This is solved by adding a InvariantCulture:
float fract = Single.Parse(timeVal.Substring(6), CultureInfo.InvariantCultur

[2016-03-04 16:01] rpunselie commented on #37
Agreed.
As the OBX in OBXTCDSIDNTE is non repeatable, only the first OBX can be retrieved. HL7 specs allow multiple results per order (and thus multiple OBX segments).

In my opinion, the correct structure would be:

...
order begin
  OBR
  NTE
  ORC
  timing_qty begin
    TQ1
  timing_qty end
  **_result begin (0..n)
    OBX (1..1)
    TCD (0..1)
    INV (0..n)
    NTE (0..n)
  result end_**
orde

[2016-03-14 11:35] sychare commented on #47
If you're trying to parse an ADT^A04 or A08) you will want to be sent ADT_A01 in MSH-9-3 (e.g. MSH-9 = ADT^A08^ADT_A01). The HL7 spec hints as such, but nobody implements HL7 by the spec, obviously. ;)

To deal with 'bad' senders we opted to write a pre-nHapi interception that re-writes incoming ADT^A04/8s without the message structure segment to add the segment prior to processing.

[2016-03-18 22:20] Eric-Cadwell commented on #48
Was the exception: "Input string was not in a correct format."

It is possible that the format rules can be customized even when the region is still set to en-US.  You can always check what these are by going into Region and Language and clicking "Additional settings..." to see any customized separators. InvariantCulture is designed to not use any custom format rules.

This fix may still be good i

[2016-03-19 07:35] dib0 commented on #48
Yes, that was the exception.

You are right. In this case the handling of the date/time by nHapi makes sure the formatting can't handle other formats than the standard one.

This really specific parsing is done on the last part of the string, the milliseconds. The problem is that the substring of 4 characters is taken, starting with the ".". This is parsed to a number/Single. The case here is that

[2016-04-06 03:44] thenulldeveloper commented on #44
I also just ran across this situation as well. I set a field to \\DEV\Share\report_v2\output.pdf and it is encoded as \E\\E\DEV\Share\report_v2\E\output.pdf

Note that the \ between DEV and Share and the \ between Share and report are not encoded.

[2016-04-06 16:12] Eric-Cadwell commented on #44
I have made changes to the escaping function in my fork of the project [https://github.com/Eric-Cadwell/nHapi](https://github.com/Eric-Cadwell/nHapi). So that may the easiest way to get the fixes.

[2016-04-06 16:18] thenulldeveloper commented on #44
Thank you Eric! This is most kind of you. I will do so this evening!

All the best,

Kevin

On Wed, Apr 6, 2016 at 12:12 PM, Eric Steinbrenner <notifications@github.com

[2016-04-13 19:00] gap777 commented on #46
Can anyone more experienced with the code base assist me if undertaking this task?

[2016-05-07 20:34] menasheu commented on #32
But what about decoding an ADT-A04 message?

[2016-05-11 16:48] gap777 opened #51 "Incorrect parsing of RXR when no ORDER_DETAIL group present"
Given the following message:

Since the RXR is following the RXE, it should not be parsed as part of the ORDER_DETAIL group. nHapi PipeParser incorrectly puts it there.

The problem seems to be because of the following lines in PipeParser.DoParse:

[code]

where each search for the right spot to place segment data starts again at the top and looks for the first segment to match by name.

This appr

[2016-05-11 21:11] Eric-Cadwell commented on #51
It looks like you've pulled the code from my fork based on the fix I had done for issue #40. Do you know if you're change works with the parsing for the message fragment in that issue?

[2016-05-11 23:34] gap777 commented on #51
Eric,

I haven't tested against the fragment mentioned in issue #40, and we are in fact seeing the problem you're describing when unexpected but recognized segments are encountered. We're working on a fix that addresses both issues.

[2016-05-11 23:37] Eric-Cadwell commented on #51
Let me know if there's anything I can do or provide to help. The iterator setup can be a bit of a deep dive.

[2016-05-12 00:01] gap777 commented on #51
Absolutely! We'd love your help.

Without propery unit tests coverage, it's so easy to break something! Do
you have more test cases you can help us codify in PipeParser unit tests?

Ever use screenhero? What tools do you use for remote collaboration?

Thanks!

Gary

On Wed, May 11, 2016 at 7:37 PM, Eric Steinbrenner <notifications@github.com

[2016-05-12 00:09] Eric-Cadwell commented on #51
I haven't used screenhero. I haven't had to do much remote collaboration for code project but I do have experience with google's hangouts, gotomeeting, gotoassist, and skype's screen sharing.

We've put most of our unit testing in our integration with nHapi so we can test the parsing into our entity objects and handle taking results and sending them back. I do have some test messages that do have

[2016-05-12 00:23] gap777 commented on #51
Eric,

Let's continue this in another way. Email me directly g passero at g mail
dot com

Gary

On Wed, May 11, 2016 at 8:09 PM, Eric Steinbrenner <notifications@github.com

[2016-06-03 19:33] githubtpm opened #52 "Cannot Parse"
Hello,

I am trying to parse this information and I cannot get any of the PID, PV1 or OBX information. Any help would be great!

Here is the code.

`        message = "MSH|^~\&|IDP-32|EPC|||201503080023||ADT^A04|36927017|P|2.2|||AL|NE|" & _
"EVN|A04|201503080022|||ZWALKA00^ZWBCD^FIRSTNAMEABCD^L|201503072341|" & _
"PID|1|EPCL0176469|M000481114|M273045|ZABCDEF^ABCD^M|ABCDE|12345|M||NY|123 MAIN ST^^B

[2016-06-04 14:01] githubtpm commented on #52
Hello,

    message = "MSH|^~\&|IDP-32|EPC|||201503080023||ADT^A04|36927017|P|2.2|||AL|NE|" & vbNewLine & _
"EVN|A04|201503080022|||ZWALKA00^ZWBCD^FIRSTNAMEABCD^L|201503072341|" & vbNewLine & _
"PID|1|EPCL0176469|M000481114|M273045|ZABCDEF^ABCD^M|ABCDE|12345|M||NY|123 MAIN ST^^BUFFALO^NY^14221||(111)111-1111|||S|NO|H00000000000|H00000000000|" & vbNewLine & _
"PV1|1|E|ER|ER|||SMITHO00^SMITH^JOE^H^^

[2016-06-04 14:01] #52 closed

[2016-06-07 21:00] uhlda commented on #32
Any answer on the previous question? How would we decode AO4's and A08's using the PipeParser - it returns a generic message type instead of the strongly typed A01.  The goal would be to get a strongly typed A01 in return if that's going to be the 'common' model.

[2016-06-07 21:29] Eric-Cadwell commented on #32
Both ADT^A08 and ADT^A04 should be using the standard ADT_A01 structure. There should be a message mapping data file that would map the ADT_A08 type to the ADT_A01 structure. I don't see the EventMapping properties file in the 2.5.1 branch so I'm not sure if it is identifying the underlying structure.

[2016-06-08 14:35] uhlda commented on #32
Unfortunately, I'm still very much a novice and have no idea how to use/setup a message map data file - is there any documentation out there anywhere that describes this process? Considering that
'native' A04/A08 support is lacking in both v2.4 and v2.5 this should be a pretty common need...

[2016-06-09 08:40] duaneedwards commented on #32
@uhlda The latest version of nHapi now up on nuget (2.4.0.14) should resolve this issue (specifically for version 2.5.1).  The unit test 'TestADTA04IsMappedAsA01' in the 'PipeParsingFixture251' class show how an A04 will ultimately be parsed into the A01 message structure.

If it doesn't work as you'd expect send through more details / provide a unit test showing the problem and I'll try and have

[2016-06-09 08:40] #32 closed

[2016-06-10 03:22] duaneedwards commented on #28
Thanks for reporting this issue, the original behaviour has now been resolved and a release with this fix is now up on nuget (v2.4.0.15)

[2016-06-10 03:22] #28 closed

[2016-06-10 03:35] duaneedwards commented on #47
This looks like this may have been related to an issue where the Event to Structure map for v2.5.1 messages was not present.  This has been recently fixed and is available up on nuget now.

In addition I've created a small wiki entry below giving an example of how the event to code structure map should be working:

https://github.com/duaneedwards/nHapi/wiki/Decoding-a-message#event-map-to-code-str

[2016-06-10 03:35] #47 closed

[2016-06-10 20:28] uhlda commented on #32
Got the latest version from Nuget and everything appears to be mapping correctly (i.e., A04,A08 to A01) - thank you very much!

[2016-06-23 14:15] bhupinder7 opened #53 "can't process message of version 2.3.0 - version not recognized"
Hi , I'm using this .Net library in one of my project to parse hl7 messages . But, when i try to parse i get this error. I checked the hl7 message that i send, it has the version 2.3.0. I believe the version is not matching with the complied package names. The package name is 2.3 but the version in my message is 2.3.0. Does anybody can tell how can i solve this issue ?

Thanks,
Bhupinder

[2016-06-24 11:56] duaneedwards commented on #53
I wouldn't expect that 2.3.0 would parse as correctly as there isn't a
2.3.0 HL7 message standard.

Try changing the message to 2.3 to see if it parses correctly.

nHapi isn't very forgiving of messages that don't conform to the exact HL7
specifications

On 24 June 2016 at 00:15, Bhupinder Singh <notifications@github.com> wrote:

[2016-06-28 15:00] bhupinder7 commented on #53
Thanks !

[2016-07-13 08:13] #53 closed

[2016-07-13 09:01] crudler opened #54 "V2.5 not able to parse Gt1 segments"
For any DFT message (e.g.)

[code]

nHapi is unable to parse the GT1 segment, and instead creates a new one
`         GT1 gt1 = dft.GetGT1(0);`
``with nulls instead of parsed values

I "think" this is an issue.

Thank you for maintaining a really excellent project

[2016-07-13 09:14] akhansari commented on #54
I have the same issue with PV1 when a custom segment (like ZFP) comes juste before the PV1.

[2016-07-13 10:26] crudler commented on #54
Also is the DFT message?
mine doesnt even have any Z segments. Weirdly my PV1 parses correctly

[2016-07-13 11:14] akhansari commented on #54
Nop, it's a ADT_A01 message but with the same bug.
PV1 is created twice and the parsed data is filled in the seconde one. In the getter the first one is returned which is null...

[2016-07-13 13:54] crudler commented on #54
Some very clever person on StackOverflow solved this for me. looks like a bug. but its not. **Order matters**.
HL7 spec puts the GT1 below procedures and transactions
[https://corepointhealth.com/resource-center/hl7-resources/hl7-dft-detail-financial-transaction](url)
and even the dft comments lists the order
When i followed them correctlly, it solved the problem.
Have you tried moving your Z segm

[2016-07-13 13:54] #54 closed

[2016-07-13 16:13] Eric-Cadwell commented on #54
This could also be a case of issue #40, where unexpected segments caused the parser to advanced forward and never revisit the skipped over segments. It would leave a blank segment there and then treat the skipped segments as unexpected and add them into the bucket that those fall into.

[2016-07-14 23:56] duaneedwards commented on #37
This issue appears to be resolved now that the v251 models have been regenerated from the latest HL7 standards database.  I suspect this was an issue with the HL7 standards database that was used at the time that nHapi was previously generated (before I was involved with the project).

[2016-07-14 23:56] #37 closed

[2016-07-15 00:01] duaneedwards commented on #33
I'm not sure about the above link that you have posted, however referencing the HL7 standard for v2.5.1 document shows that OBR-13 is in fact a ST datatype:

![image](https://cloud.githubusercontent.com/assets/65170/16859524/e1d7593e-4a72-11e6-8240-f8cfabe4bc9a.png)

Closing as I don't suspect this is actually an issue.

[2016-07-15 00:01] #33 closed

[2016-07-15 00:06] duaneedwards commented on #30
This issue appears to be resolved now that the v251 models have been regenerated from the latest HL7 standards database.  I suspect this was an issue with the HL7 standards database that was used at the time that nHapi was previously generated (before I was involved with the project).

Here is the diff of the change that shows that the ADT_A01_INSURANCE has been changed to repeating:

![image](htt

[2016-07-15 00:06] #30 closed

[2016-07-15 00:12] duaneedwards commented on #26
This issue appears to be resolved now that the v251 models have been regenerated from the latest HL7 standards database.  I suspect this was an issue with the HL7 standards database that was used at the time that nHapi was previously generated (before I was involved with the project).

Below is the diff of the commit that resolves this issue for this file:

![image](https://cloud.githubusercontent

[2016-07-15 00:12] #26 closed

[2016-07-15 00:16] duaneedwards commented on #27
Now that I have access to a copy of the latest HL7 standards database I have generated an initial implementation of the v2.7 standard. (The databases were not cheap at all :-s)

There may well be issues with this implementation but at least now initial support is available.  The latest version of nHapi (version 2.5+) includes this implementation and is now available on nuget.

[2016-07-15 00:16] #27 closed

[2016-07-15 05:36] duaneedwards commented on #44
The latest release of nHapi (version 2.5.0.3) includes the changes from pull the pull request for this issue and is up on nuget.  Just be wary there may be some breaking changes due to the structure being regenerated based off a more correct standards database as of nHapi version 2.5+.

[2016-07-15 05:36] #44 closed

[2016-07-15 05:36] duaneedwards commented on #40
The latest release of nHapi (version 2.5.0.3) includes the changes from pull the pull request for this issue and is up on nuget.  Just be wary there may be some breaking changes due to the structure being regenerated based off a more correct standards database as of nHapi version 2.5+.

[2016-07-15 05:36] #40 closed

[2016-07-15 05:36] duaneedwards commented on #39
The latest release of nHapi (version 2.5.0.3) includes the changes from pull the pull request for this issue and is up on nuget.  Just be wary there may be some breaking changes due to the structure being regenerated based off a more correct standards database as of nHapi version 2.5+.

[2016-07-15 05:36] #39 closed

[2016-07-15 05:37] duaneedwards commented on #38
The latest release of nHapi (version 2.5.0.3) includes the changes from pull the pull request for this issue and is up on nuget.  Just be wary there may be some breaking changes due to the structure being regenerated based off a more correct standards database as of nHapi version 2.5+.

[2016-07-15 05:37] #38 closed

[2016-07-15 05:45] duaneedwards commented on #48
The latest release of nHapi (version 2.5.0.4) includes the changes from pull the pull request for this issue and is up on nuget.  Just be wary there may be some breaking changes due to the structure being regenerated based off a more correct standards database as of nHapi version 2.5+.

[2016-07-15 05:45] #48 closed

[2016-07-15 06:09] duaneedwards commented on #25
This issue appears to be resolved now that the v23 models have been regenerated from the latest HL7 standards database.  I suspect this was an issue with the HL7 standards database that was used at the time that nHapi was previously generated (before I was involved with the project).

Basically it seems that the fields weren't repeating when they in fact should have been.

Below is the diff of the

[2016-07-15 06:09] #25 closed

[2016-07-15 06:31] duaneedwards commented on #24
This is actually expected behaviour.  The IN1 structure isn't in the ADT_A01 message structure but actually resides in the ADT_A01_INSURANCE group of the ADT_A01 message structure.

ADT_A01:
![image](https://cloud.githubusercontent.com/assets/65170/16865534/d3c91356-4aa8-11e6-82a0-1562ec40148e.png)

ADT_A01_INSURANCE:
![image](https://cloud.githubusercontent.com/assets/65170/16865572/1f6da470-4aa9

[2016-07-15 06:31] #24 closed

[2016-07-15 06:33] duaneedwards commented on #42
Closing as this is a duplicate of #46 Missing conformance profile validation

[2016-07-15 06:33] #42 closed

[2016-07-18 09:00] akhansari commented on #54
I'm not sure but I think order is important only for the elements in a group!
So I think it's still a bug...

[2016-08-05 16:26] jotavillalobos opened #55 "Multiple SPM with OBX (OUL_R22)"
Given the following message:

I should get:
1 SPM with 1 ORDER
1 SPM with 2 ORDER
1 SPM with 1 ORDER

But i only get the last SPM and ORDER (hemoglobina)

Im parsing like this:
`PipeParser parser = new PipeParser();
    IMessage hl7Message = parser.Parse(data);`

Then converting it to XML.
`DefaultXMLParser xmlParser = new DefaultXMLParser();
            string xmlAsString = xmlParser.EncodeDocume

[2016-08-10 11:43] EdwinVanVliet opened #56 "OML 033 parsing incorrectly."
Using the following message I would expect two SPM segment after parsing.

MSH|^~&|xxxx|homxtest_9||homxtest_9|20160205112211||OML^O33|000500006894|P|2.5|||NE|AL||8859/15
PID|1||1234567^^^Firstname~lastname^^^Firstname||Lastname&&Lastname^Firstname^B L J^^^^L||19991231|M|||Firstname^37^BE^^1234AB^nl|||||||||||||Y||||||N
SPM|1|1602050005&xxxx||EDTA^Paarse dop^xxxx||||||||3^ml&ml&xxxx|||||2016020511

[2016-08-23 08:34] GhassanF opened #57 "Value cannot be null. Parameter name: type"
Hi,

I am getting this error whenever i tried to parse a message for any version that ends with ".1" (2.3.1, 2.5.1, 2.7.1). if i manually remove the ".1" from the message version  it works normally.

Code:
`PipeParser parse = new PipeParser();
IMessage message = parse.Parse(dataReceived);`

Kindly note that i am using C# and nHapi 2.5.0.5

Thank you in advance.

[2016-09-01 13:59] JVgith opened #58 "Problem with multiple Order_Observations/OBXs [ORU_R01]"
We are trying to create an interface and while testing nHapi with the following file, we noticed a few problems.

[code]

There is always only one Order_Observation visible.
There is always only one group of OBXs visible.
Deleting the second and last ORC and OBR segments doesn't change the output.
After the above, moving the last NTE above the OBX added an additional segment to the output group. T

[2016-09-09 10:52] Tharkius opened #59 "Can't access group objects within extended Message classes"
My program is crashing, whenever I try to access group objects within extended Message classes.

Here is an example:

[code]

Everything works fine if I just use an instance of ORM_O01, though.
I'm using the Nuget Package, if that has any relevance.

[2016-09-13 03:35] duaneedwards commented on #58
Thanks for reporting this issue, I've uploaded a new release of nHapi (version 2.5.0.6) to nuget.org that should resolve this.

[2016-09-13 03:35] #58 closed

[2016-09-14 09:15] shirajmomin opened #60 "How I can Validate My HL7 Message"
Hello,

I am using nHapi, but when I validate my HL7 message its give always success message.

even I have updated with wrong value still its give success message.

[2016-09-22 15:26] rcrichton commented on #43
I've also run into this. It needs to allow repeating.

[2016-09-26 18:54] cdroulers opened #61 ".NET Core support?"
Are there any plans to modify the code to support .NET Core? I've opened the Portability Analysis Report in Visual Studio and it seems there's a lot of things to check, but I don't know if it's easy to do or not. Anyone more familiar with this code base care to comment?

[nHapi.Base-PortabilityAnalysis.pdf](https://github.com/duaneedwards/nHapi/files/493867/nHapi.Base-PortabilityAnalysis.pdf)

I'v

[2016-10-04 04:53] rdurham285 opened #62 "OBX|ID null ref exception in fixOBX-5"
The PipeParser is blowing up with any OBX segment with type of ID with a value in OBX-5.

Segment: `OBX|3|ID|59781-5^dose validity^LN|1|Y||||||F|||20151031`
Stack: `System.NullReferenceException trying to set data type of OBX-5`
Code: `var pParser = new PipeParser(); var msg = pParser.Parse(rawMessage);`

Thanks

[2016-10-20 20:49] AlexFJaxFL opened #63 "OBX-5 is valued, but OBX-2 is not. A datatype for OBX-5 must be specified using OBX-2."
it appears that HAPI has a valid solution for this exception

The HAPI Parser may be configured using a ParserConfiguration object.

The ParserConfiguration is a bean which sets and retrieves parser configuration properties and may be shared among multiple parser instances.

Default behaviour for OBX-2
In a normal OBX (Observation) segment, OBX-2 provides the datatype to be applied to OBX-5. So, f

[2016-10-26 11:48] lechuckcaptain opened #64 "PackageManager load additional version without App.config"
It should be possible to configure additional versions without the need to configure the App.config of the main executable (or assembly).

[2016-11-09 19:19] darrenfurr commented on #63
I checked the Parser source code & there is a fixOBX5 method in the Varies.cs that appears to attempt to set the data type, however it is not working because the v.Data.Value != null, but the OBX-2 is.
[code]
In my case, my messageType had no OBX-2:
OBX|14||Mro||MRSA

With this code change -
[code]

It now pulls the value as String:
![image](https://cloud.githubusercontent.com/assets/133894/201480

[2016-11-11 22:52] josephrodriguez opened #65 "Incorrect OML_O21 message parsed"
I was parsing this message but the property ORDERRepetitionsUsed return me 1 when should be 3.  This happend with all versionsof library including the latest 2.5.0.6.
[PFOMSGID999999999.txt](https://github.com/duaneedwards/nHapi/files/586884/PFOMSGID999999999.txt)

[2016-11-21 14:40] atesoglu opened #66 "ORU^R01^ORU_R01 Message Parsing Problem"
Hello,

I'm currently having parsing issues. My message is;

[code]

And when i try to parse this message like this;
`var messageModel = new NHapi.Base.Parser.PipeParser().Parse(message);`

i'm getting this error;
`Can't find message class in current package list: ORU_R01`

Could you please help me solving this issue? How should i proceed?
Thank you in advance.

[2016-11-21 14:47] garykb commented on #66
I had this issue when I was starting my current project and it came down to a missing dll.

Make sure you have the NHapi.Model.V26.dll file in your executable path.

[2016-11-23 12:41] atesoglu commented on #66
@garykb, kudos for solving my problem.
Thank you.

[2016-11-23 12:41] #66 closed

[2016-11-24 22:09] josephrodriguez opened #67 "Mapping of ORM_O01 on NHapi.Model.V23.EventMap.properties"
On commit 80ae7b7c7fd433272fd9a00cec01c6a8b6194e4c the map if fixed with:

ORM_O01 ORM_O01
OMD_O01 ORM_O01
OMN_O01 ORM_O01
OMS_O01 ORM_O01
RDO_O01 ORM_O01

but on commit 0ea641f5ef273ec90536cb11f38f648cd97ab363 this change is roll backed. Actually parse an ORM_O01 return a GenericMessage.

[2016-11-29 13:41] roncansan opened #69 "Add RDT Segment with multiple fields"
Hi Edwards,
I need to add and RDT segment that should look like this:

[code]

But the most I can do, is this:

[code]

I don't know how to add fields after the first one!

This is my code:

[code]

Any help will be appreciated. Thanks

[2016-12-07 15:22] Oculys-DanL opened #70 "AndEvery() is not relative to the specified start time?"
Hi there, great library!

Considering the following:

` jobRegistry.Schedule(new DownloadJob(downloadTask.ReportId))
                    .WithName(downloadTask.ReportId)
                    .ToRunOnceAt(1,0)
                    .AndEvery(15).Minutes(); `

If I schedule a job as above, it will always run immediately and then every 15 minutes afterwards without any regard to the 1:00 start time.  I

[2016-12-07 15:24] Oculys-DanL commented on #70
Sorry, wrong repo...

[2016-12-07 15:24] #70 closed

[2017-01-20 22:49] jaime-olivares commented on #61
.Net Core and specially .Net Standard are the future of .Net. This requirement is a must.

[2017-02-02 02:38] mcclown opened #72 "NK1 segments are not parsed for A01 or A03 messages"
For the messages below, the following code gets back an empty NK1 segment. It works fine if the message is an A02, A08 or A28 (I haven't tested further than that). The only data returned by the code below is the data that would be returned by issue #16

I came across this issue with v2.4.0.0 but I've just tested the latest code (v2.5.0.6) and this issue is still present.

`IStructure[] nextOfKinCo

[2017-02-24 22:41] bushperi opened #73 "The parsing in test for Custom Z segments returns the z segment with null values"
I recently tried to use the nHapi for Custom Z segments.
However when i run the test for it the asserts are failing.
Even in Quick Watch I was unable to see the parsed values for the ZIN segment as expected in the test.

![image](https://cloud.githubusercontent.com/assets/25377183/23323821/3c7d8868-fa9f-11e6-9846-b1e53996487c.png)

I did do the correct setting in the config file too

[2017-02-24 23:07] bushperi commented on #73
Is there a way that we can get proper line endings in the message string?
It became a "Oh Oh" moment for me.
The problem was with the newlines in the string.
Once i edited it in notepad and tried again all worked fine.

Your code works 👍

[2017-02-24 23:07] #73 closed

[2017-02-27 21:49] yoliva commented on #65
I'm having the same issue parsing `OML^O21 v251` messages with multiple orders. I found a possible walk around to process the order on this [thread](http://stackoverflow.com/questions/32124685/how-to-read-multiple-orc-obr-segment-from-hl7-message-using-hapi/32438352) on StackOverflow. I also found a possible solution in the [javadocs](http://hl7api.sourceforge.net/base/apidocs/ca/uhn/hl7v2/parser/

[2017-02-27 22:13] bushperi commented on #29
Hi, even i am facing this issue.
I know this issue has been closed long time back.
But any clue as to what resolved this issue?

[2017-02-27 23:03] yoliva commented on #65
@josephrodriguez did you realize how to solve the issue? Jus asking because I see that this issue was open some time ago. thanks

[2017-02-27 23:36] josephrodriguez commented on #65
@yoliva, I opened this issue three months ago and I have not received any feedback from NHAPI developers, a little disappointing. My temporal solution due to unable use HAPI with java was splitting the `OML^O21` with multiple `OBR `segments (you can use regular expressions) on to multiples `OML^O21` messages with only one `ORC `and `OBR `segments using the common information in `MSH`, `PV1 `and `P

[2017-02-28 15:30] yoliva commented on #65
@josephrodriguez thanks for the feedback. I'm trying to find a walk around to process the orders in the right way. I will let you know if I find a solution.

[2017-03-01 17:55] rutzelt commented on #65
This solution is a bit of a hack but it does work for us.  We added an FT1 segment to disambiguate it during as part of our "Preprocessing" routine.  Perhaps this method would be suitable for you...

// nHapi cannot disambiguate OML_OXX messages...
            // https://sourceforge.net/p/nhapi/discussion/569648/thread/3e0c39b1/
            // Unfortunately HL7 OML_OXX messages have an ambiguous s

[2017-03-01 18:51] yoliva commented on #65
We ended up rolling back to `ORM_O01` to process orders groups. We tried to use `OML_O21` because is the recommended one by the standard for `v 2.5.1` but isn't a required for now. Using `ORM_O01` we get all the orders in the `.ORDERs` collection as expected without any hack.

[2017-03-07 18:52] Lumirris opened #74 "NHapi.NUnit.ParserTest.TestValidHL7Data failing"
The following test (see link and code below) fails with the following message:

  Expected: "Th\\T\\is\\.br\\is\\.br\\A T\\F\\est\\E\\"
  But was:  "Th\\T\\is\\E\\.br\\E\\is\\E\\.br\\E\\A T\\F\\est\\E\\"

Does anyone have any insight as to why the expected result is what it is in this test? It's the only one that doesn't pass for me after forking this and running it.

[https://github.com/duaneedwa

[2017-04-01 04:01] hiravebapu opened #76 "Custom Z Segment example ?"
Hi,
How does NHapiTools support to

Add non standard z segment
Add custom properties to newly added z segment
can you provide some example ?

[2017-04-03 15:14] GertBroekhaar opened #77 "Getting NHapi.Base.Model.GenericMessage.V25 instead of NHapi.Model.V25.Message.OUL_R22"
Hi there,

I'm expecting the **Parse**-method below to return an object of type **NHapi.Model.V25.Message.OUL_R22** but it returns **NHapi.Base.Model.GenericMessage.V25** so the next cast to **OUL_R22** is giving an **InvalidCastException**. Can you please provide some help?

Thanks very much,
Gert

string message = @"MSH|^~\&|^980^test|||[???]^[CODE RIVM]^|20161018172259||OUL^R22^OUL_R22|12345678

[2017-04-16 03:06] hiravebapu opened #78 "HAPI FHIR support"
Any plans for support HL7 FHIR in nHapi

[2017-04-16 05:15] nityan commented on #78
Hello,
For HL7 FHIR support, please check here:

https://github.com/ewoutkramer/fhir-net-api

Thanks,
Nityan

[2017-04-19 18:58] jsdratm opened #79 "HL7 2.3 ORM^O01 Parsed as Generic V23 message"
Affected Version: 2.5.0.6

I was using this test message and instead of parsing it to a ORM_O01 object it is parsing it into a generic V23 object.  If I change the version to 2.2 or 2.4 it is parsed correctly, so the issue appears isolated to v2.3.

MSH|^~\&|HIS|MedCenter|LIS|MedCenter|20060307110114||ORM^O01|MSGID20060307110114|P|2.3
PID|||12001||Jones^John^^^Mr.||19670824|M|||123 West St.^^Denve

[2017-04-19 19:33] jsdratm opened #80 "HL7 2.4 ORM_O01 only supports single OBR"
I am only able to get a single OBR from the parsed ORM_O01 object for HL7 v2.4.  I looped through the ORM_O01_ORDER collection and found that each object of this type has a single ORDER_DETAIL object which contains a single OBR object.  My understanding is that there should be support for one or more OBR segments for a given ORC, but the object structures in nHapi don't appear to support more than

[2017-04-27 15:24] jsdratm opened #81 "HL7 2.1 Fails to Parse ORM^O01 ORC segment"
Error: Can't instantiate class NHapi.Model.V21.Datatype.CM
(System.NullReferenceException): Object reference not set to an instance of an object.: Segment: ORC (rep 0) Field #2

Test Message:
MSH|^~\&|HIS|MedCenter|LIS|MedCenter|20060307110114||ORM^O01|MSGID20060307110114|P|2.1
PID|||12001||Jones^John^^^Mr.||19670824|M|||123 West St.^^Denver^CO^80020^USA|||||||
PV1||O|OP^PAREG^||||2342^Jones^Bob||

[2017-04-27 15:26] jsdratm opened #82 "HL7 2.7 Fails to Parse ORM^O01"
Error: Can't find message class in current package list: ORM_O01

MSH|^~\&|HIS|MedCenter|LIS|MedCenter|20060307110114||ORM^O01|MSGID20060307110114|P|2.7
PID|||12001||Jones^John^^^Mr.||19670824|M|||123 West St.^^Denver^CO^80020^USA|||||||
PV1||O|OP^PAREG^||||2342^Jones^Bob|||OP|||||||||2|||||||||||||||||||||||||20060307110111|
ORC|NW|20060307110114
OBR|1|20060307110114||003038^Urinalysis^L|||200603

[2017-04-27 15:27] jsdratm opened #83 "HL7 2.8 Fails to parse ORM^O01"
Error: Can't find message class in current package list: ORM_O01

Message:
MSH|^~\&|HIS|MedCenter|LIS|MedCenter|20060307110114||ORM^O01|MSGID20060307110114|P|2.8
PID|||12001||Jones^John^^^Mr.||19670824|M|||123 West St.^^Denver^CO^80020^USA|||||||
PV1||O|OP^PAREG^||||2342^Jones^Bob|||OP|||||||||2|||||||||||||||||||||||||20060307110111|
ORC|NW|20060307110114
OBR|1|20060307110114||003038^Urinalysis^L

[2017-04-27 15:29] jsdratm opened #84 "HL7 2.1 Fails to parse ORU^R01 ORC segment"
Error: Can't instantiate class NHapi.Model.V21.Datatype.CM
(System.NullReferenceException): Object reference not set to an instance of an object.: Segment: ORC (rep 0) Field #2

Message:
MSH|^~\&|LCS|LCA|LIS|TEST9999|199807311532||ORU^R01|3629|P|2.1
PID|2|2161348462|20809880170|1614614|20809880170^TESTPAT||19760924|M|||^^^^00000-0000|||||||86427531^^^03|SSN# HERE
ORC|NW|8642753100012^LIS|208098801

[2017-04-27 15:30] jsdratm opened #85 "HL7 2.7 Fails to Parse ORU^R01"
Error: System.NullReferenceException trying to set data type of OBX-5

Message:
MSH|^~\&|LCS|LCA|LIS|TEST9999|199807311532||ORU^R01|3629|P|2.7
PID|2|2161348462|20809880170|1614614|20809880170^TESTPAT||19760924|M|||^^^^00000-0000|||||||86427531^^^03|SSN# HERE
ORC|NW|8642753100012^LIS|20809880170^LCS||||||19980727000000|||HAVILAND
OBR|1|8642753100012^LIS|20809880170^LCS|008342^UPPER RESPIRATORY CULT

[2017-04-27 16:31] garykb commented on #81
On my recent projects we used ORC-2 as EI.   Have you tried that?

[2017-04-27 16:38] garykb commented on #85
Since you don't show any of your code, I'll take a guess...

Since OBX-2 is set to ST

obxSeg is a reference to the result segment you are populating.

ST resultValue = new ST(_Put _Your_message_Here) {Value = "The value"};
obxSeg.GetObservationValue(0).Data = resultValue;

[2017-04-27 16:41] garykb commented on #83
Last version with support for ORM^O01 in nHapi is V2.6.

[2017-04-27 17:08] jsdratm opened #86 "HL7 2.8 - Parsing ORU^R01 Causes Stack Overflow Exception"
Exception: An unhandled exception of type 'System.StackOverflowException' occurred in NHapi.Model.V28.dll

Message:
MSH|^~\&|LCS|LCA|LIS|TEST9999|199807311532||ORU^R01|3629|P|2.8
PID|2|2161348462|20809880170|1614614|20809880170^TESTPAT||19760924|M|||^^^^00000-0000|||||||86427531^^^03|SSN# HERE
ORC|NW|8642753100012^LIS|20809880170^LCS||||||19980727000000|||HAVILAND
OBR|1|8642753100012^LIS|208098801

[2017-04-27 17:10] jsdratm commented on #83
Gary,

Do you know if there is a reason why, or is it just something that hasn't been implemented yet?

[2017-04-27 17:13] garykb commented on #83
The latest spec I have from HL7.org. which is version 2.5.1 states that this message has been deprecated and recommends replacements for later versions of HL7.

[2017-05-01 04:16] hiravebapu opened #87 "HL7 over HTTP"
i am looking to accept HL7 messages over HTTP (WebAPI server) in .NET. any suggestions ? currently i am testing with sending HL7 over HTTP from hapiTestPanel to my .NET webApi application. Currently webapi application failed to accept messages or test panel failed to send over HTTP. Any suggestions ?

[2017-05-01 06:34] nityan commented on #87
Hello there,

HL7 over HTTP is currently not supported using HL7v2 as this uses a protocol from the 1980's called LLP. if you would like to use HL7v3 or FHIR, those both support HTTP.

Thanks,
Nityan

Nityan Khanna
Senior eHealth Technology Programmer Analyst
Mohawk College, iDeaWORKS - MEDIC
E103, 135 Fennell Ave West, Hamilton ON Canada, L8N 3T2
T: 1-905-575-1212 x4102
E: nityan.khanna@mohawkcol

[2017-06-07 07:01] atesoglu commented on #61
+1

[2017-06-30 19:57] atesoglu commented on #61
This issue has been opened nearly a year ago and there has been nothing, not a single word yet?
I think this is a shame.

[2017-07-10 09:38] nasu38yen opened #89 "Parse Result between 2.5.0.5 and 2.5.0.6"
For example, the parsing result of the OML -O33
In 2.5.0.5, although the PID segment is also stored
In 2.5.0.6, the PID segment was not stored
Why is this?

[2017-07-10 13:48] gjdickson commented on #74
I'm having similar problems creating ORU^R01 messages with linebreaks for a project I'm working on (though I am very new to nHapi).

There is note in the code comments in Escape.cs about not all escape sequences being supported and it seems \\.br\ is one of them.  \\.br\ does get included in an escape character Hashtable in the file, but the Hashtable does not actually get used.

[2017-07-13 06:44] lali-nalashaa commented on #20
Hi duaneedwards ,

The issue still exists in nHapi latest version (nHapi 2.5.0.6 (this version)), I tried to parse a sample RSP HL7 message from NIST and get the error.
`
at NHapi.Base.Model.Varies.fixOBX5(ISegment segment, IModelClassFactory factory)
   at NHapi.Base.Parser.PipeParser.Parse(ISegment destination, String segment, EncodingCharacters encodingChars)
   at NHapi.Base.Parser.PipeParser.

[2017-09-09 01:34] 15953327207 opened #90 "HL7 2.4 ORU_R01 why only supports single ORC,OBR,OBX"
MSH|^~\&|BioxunSystem|1.0.2|HIS||201709071602||ORU^R01|7fe8ee28-6e95-49fd-9885-ce6628aea118|^P|2.4|||||CHN|UTF-8
ORC|1|9997d257-25b4-4b54-8e41-9701faee25ca|||||^^^201709071602|||1
OBR|1|=0160217705896||AS|||201709071449|201709071516|||||||BLD^^^^^^P|||||||||O|||^^^^^R
OBX|1|ST|AS||Negative||||||F|201709071449||201709071516|1
ORC|2|4b6bfd70-ce6e-4591-be79-fc53ba31c5eb|||||^^^201709071602|||1
OBR|1|

[2017-10-14 16:06] Telexy-zz opened #91 "Failed to parse ORC-10 repetitions in ORM^O01 for version 2.3"
Seam like a bug, working fine for all other versions, except 2.3. Parser rejects multiple ORC-10 repetitions. Here is the message for reproduce.

MSH|^~\&|CERNER|C|MEDCON||20171011142204||ORM^O01|Q5541223210T4287161621^M197||2.3||||||8859/1
PID|1|10950522^^^C^MRN|100010552^^^^MRN~10950522^^^C^MRN~10950522^^^^MRN~10950522^^^^MRN~10950522^^^^MRN~10950522^^^^MRN~10950522^^^^MRN~100010552~9905813^^^^M

[2017-11-19 23:45] mettlus opened #93 "OBX/NTE Segment not getting Parsed"
I have a repeating OBX/NTE Segment
unfortunately when I parse it via the terser object I dont get values in the NTE Segment

OBX|1
NTE|1|2....
OBX|2
NTE|2|322...
parser.Get("/OBSERVATION(0)/NTE1-1"); returns NULL

[2017-11-29 11:07] nzcoward commented on #87
I know this is late... however, you can use the Hapi suggested spec for HL7 over HTTP with the correct header. I am including my solution - it's generic, so you'll need to have the correct handlers in the API server for each version, but it gets the IMessages into your controllers:

First you will need a MediaTypeFormatter:

[code]

If you are using the WebApiConfig template, you add the MediaType

[2017-11-30 18:23] yoliva commented on #87
We used the approach suggested in [hapi-hl7overhttp](https://hapifhir.github.io/hapi-hl7v2/hapi-hl7overhttp/specification.html) in our asp.net core project and works great. take a look at their specification.

[2017-12-13 12:19] trzewior commented on #76
Bump.

[2017-12-14 15:44] HMoen commented on #24
Hi @THEStephenStanton, how were you able extract the IN1 segment out of the ORM_001? The Parse method of PipeParser() returns a ORM_001 type immediately instead of an abstract message per nHAPI beginner's guide, thus not allowing casting to ADT_001.

I'm using a HL7 2.5.1 file with VS2017 + nHAPI 2.5.0.6.

Thanks!

[2018-01-11 20:29] yoliva opened #94 "Remove repetition from segment"
What I'm trying to achieve is to remove all the repetitions from `OM5-2`. That can be achieved using NHAPI?

`OM5|83|123-4^someText^LN^1001^someText^99CTX~133-4^someText1^LN^1008^someText1^99CTX~223-4^someText2^LN^1010^someText2^99CTX`

[2018-01-17 15:50] nkm8 opened #95 "Message escaping still isn't functioning properly on all UNC strings"
Extension of https://github.com/duaneedwards/nHapi/issues/44

If you have a UNC path, the `\\` sequence used to represent `\` in C# is parsed as `\e\` in the output generated by nHapi.

Example: `123\\456` is output as `123\e\456` after calling `PipeParser.Encode()`

Bonus: `\e\` is completely ignored by a separate HL7 parsing tool that is ingesting the output I am creating.

As a temporary work-a

[2018-02-01 18:44] ascazzola opened #96 "How can i encode a SIU^S13 message"
I am trying to encode a SIU^S13 message using v2.5.1 and siu^S12 structure.

I put in the MSH.MessageType.TriggerEvent.Value = S13.

but in the encoded message i see this in section 9

SIU^S12^SIU_S12

and i think i need something like SIU^S13^SIU_S12

can you help me?

Thank you very much and best regards.

[2018-03-14 12:42] BartHuls opened #97 "How can I anonymize a message (extract only the MSH segment)"
I want to Anonymize a message, meaning keeping the MSH segment and printing it to a string.
I tried to get the MSH segment out the message and then calling a parser (Pipeparser)

var pipeParser = new PipeParser();
var parsedMessage = pipeParser.Parse(message);
MSH msh = (MSH)parsedMessage.GetStructure("MSH");
var encodingChars = new EncodingCharacters(msh.FieldSeparator.Value[0], null);
string enc

[2018-03-14 13:41] BartHuls commented on #97
Came up with this solution
....
var encodingChars = new EncodingCharacters(msh.FieldSeparator.Value[0], null);
string encodedMessage = PipeParser.Encode(msh,encodingChars);

I don't know hwy the first is not going to work...

[2018-04-23 20:23] ascazzola opened #99 "ZSegment not working"
Hi, i clone the repo. i don't change anything and when i run the CustomZSegment Test ParseADT_A08() it fails. The segment is recognized but al the data is null

![image](https://user-images.githubusercontent.com/22962158/39151198-ee77743e-471a-11e8-9b5c-05ec201101b0.png)

[2018-04-26 23:26] #99 closed

[2018-04-26 23:28] ascazzola commented on #99
My mistake the file was configured with end of line sequence LF instead of CLRF

[2018-04-26 23:28] ascazzola commented on #96
Solved setting the section 9.1

[2018-04-26 23:28] #96 closed

[2018-05-04 12:13] nix63 opened #101 "Fail to parse PID and PV1 segment in ORM^O01 and ORR^O02 when non standard segment is present"
With NHapi.Base.dll version 2.3.0 I was able to parse a message like the following, while I can't with the latest version (2.5.0.6).
Here is the message:

`MSH|^~\&|sys1|sys1|sys2|sys2|20180503174921||ORM^O01|1234567890|P|2.4`
`EVN||20180503`
`PID|||1^^^XXX~2^^^YYY||LastName^FirstName||19660429|F`
`PV1||I|3906||||||||||||||||100001`
`ORC|CA|1410|3121||CA`
`OBR|1|1410|3121|RX50^ADDOME SUPINO`

I kn

[2018-05-29 22:25] slartibartfast3000 opened #103 "HL7 TX type, obx.5 leading space being trimmed PipeParser"
2.4 standard states:
"2.9.48	TX - text data
String data meant for user display (on a terminal or printer).  Such data would not necessarily be left jus-tified since leading spaces may contribute greatly to the clarity of the presentation to the user.  "

Unless I've missed a config option or rule, escape() function in Escape.cs always trims leading and trailing spaces for type TX i.e.  return resu

[2018-06-08 12:26] jakubsuchybio opened #104 "Why DateTime parser doesn't support fraction of the seconds?"
Hi,
why is it, that the TSComponentOne which formats DateTime into string and back, can't parse it's own format `LongDateTimeFormatWithFactionOfSecond` ?
In this line:
https://github.com/duaneedwards/nHapi/blob/0ea5a3f9e1a864713bc41568aefcd1201dc14644/NHapi20/NHapi.Base/Model/Primitive/TSComponentOne.cs#L282

the `LongDateTimeFormatWithFactionOfSecond` is missing in supported formats for exact par

[2018-07-18 21:13] JeremyOne commented on #103
We also would like to use leading spaces to indent report sections and lists. In our tests with longer reports this increases readability significantly.

[2018-09-25 07:19] rmagsayo opened #105 "Failed validation rule: Maxumim size <= 200 characters"
Hi!
I am trying to parse an ORU^R01 file with ED data but I always had this error "Failed validation rule: Maxumim size <= 200 characters" keep bugging me. Can you please shade light on how to resolve this issue. Many thanks and all the best. Below are the errors I was able to record. Any help is much appreciated.
Regards,
Roche

NHapi.Base.DataTypeException was unhandled
  FieldPosition=-1
  HRes

[2019-01-14 13:40] truthbeliever commented on #61
Any news?

[2019-01-14 13:58] jaime-olivares commented on #61
Due to the lack of .net core support, we created our own lightweight library: https://github.com/Efferent-Health/HL7-dotnetcore

[2019-01-22 23:50] ryankelley commented on #84
@jsdratm Did you ever find a solution to get nHapi to parse your message?

[2019-01-23 09:02] slartibartfast3000 commented on #84
There's a number of validation errors on that message e.g.
Looks like the MSH segment isn't correct e.g. field separator wasn't validating, it was missing a backslash

MSH|^~\&|LCS|LCA|LI...

There are other fields missing, for example mandatory dates in the OBR segment

Ensure that's resolved first

try installing Hapi test panel and ensure hl7 is well formatted

[2019-01-23 15:20] ryankelley commented on #84
@slartibartfast3000 Thanks for the tip, interestingly enough, the messages works fine in hapi test panel, but errors out with this same error in nHapi

[2019-01-28 05:47] swapnilspande27 opened #109 "Stack Overflow exception while parsing Hl7 message using NHapi V28 model"
Hi,
I was trying to import HL7 message using Nhapi v28 based dlls but i was getting error while trying to access PID segment fields such as Address (XAD datatype) and telephone numbers (XTN datatype). I did debug the Nhapi v28 model code that is available on github and compared it with V25 code which was working fine and found some difference in the way constructors of type XAD and XTN are built.

[2019-02-14 21:24] kccarter76 opened #110 "ST Data Type splitting value on message sub component delimiter"
HL7 version 2.3.1

in the XAD datatype the property OtherDesignation is a ST datatype. the value that is being parsed from a message is.

The literal value located in the message where this component is parsed from is this "MONTECITO HEIGHTS   HC & WELLNESS". The value retrieved from the Value Property of the ST Object is "MONTECITO HEIGHTS HC ".

It has been argued from our interface team with th

[2019-02-15 08:31] SpaceCheeseII commented on #110
Hi don't know if this helps... according to the hl7 spec ...

As & is a delimiter you've declared in MSH.2, it would need to be escaped. You would have to escape it like this ... \& or replace & in the text with the escape sequence \T\ (decoded by nhapi to the sub separator & in MSH.2)

Take a look at 2.10	USE OF ESCAPE SEQUENCES IN TEXT FIELDS - (nb I only have the 2.4 spec to hand so maybe diffe

[2019-02-15 19:20] kccarter76 commented on #110
other HL7 parsing engines like rhapsody will treat all the text that is located in the position for a ST datatype as literal text and escaping the & was not necessary. It sounds like nhapi is ignoring the business rules and subdividing fields into components where the HL7 standard does not define component fields.

[2019-02-18 10:57] slartibartfast3000 commented on #110
Sorry, not familiar with rhapsody. Perhaps there were config settings on the Hl7 processor?

For my reference, I'd be grateful if you could point me to the business rules you're looking at - are these in the HL7 standard? it maybe I'm not understanding the need for not escaping.

Mirth is also splitting ST in XAD on &,  so, I suspect it's generally to do with HAPI libs whether Java or .net?

ps. I

[2019-03-08 11:53] jakubsuchybio opened #111 "Is this repo dead?"
I see last merged pull request from @duaneedwards in march of 2017.
There is a lot of bugs that are resolved by unmerged pull requests. But owner nowhere to be found.

@duaneedwards Could you please look at the pull requests and merge them?

I know we can fork, create our own packages... For now I am doing that, but should I?

:)

[2019-04-04 19:36] ChrisMeeusen commented on #63
Seems like this is still a problem in version 2.5.0.6

[2019-04-15 00:06] SaravananSubramanian opened #113 "Feedback needed on NHAPI Article Series..."
Dear NHAPI Community,

I have written a series of articles on using the NHAPI toolkit. I am looking for any feedback or criticisms on the information in these articles as there are a lot of capabilities in this toolkit that I don't always use often. If you see any topics that I should also cover in this series that will be useful for beginners, please let me know. I hope we can get more people to

[2019-04-15 22:10] #113 closed

[2019-07-12 13:41] degr commented on #65
still not work. It return 1 order repetition

[2019-08-19 08:35] elpacko commented on #111
I guess it is because there is a new standard FHIR. I’ve found the following repo

https://github.com/FirelyTeam/fhir-net-api

[2019-08-23 13:33] sebastianoscarlopez opened #114 "NHapi.Model.V231.Message.ADR_A19 without PID"
I think so the class NHapi.Model.V231.Message.ADR_A19 must have MSH, MSA, QRD, PID, NK1 and PV1, also with repeated AL1, IN1, DG1 and OBX

[2019-08-23 13:51] #114 closed

[2019-09-05 10:24] waleswood commented on #111
Does the project you mentioned support hl7 v2.6?

[2019-12-19 02:03] hishamrashdan commented on #78
Hello,
I want to use this library for a real production project, but I want to be sure is this library still supported by its developers if any new bugs founded ?!
Is it safe to use?  I want to use the hl7 2.4 version of the library.

[2020-06-08 18:15] andirapandi commented on #111
Is FHIR supposed to replace current HL7?
I think HL7 3 (the xml thingy) never was adapted widely/at all.
On the other hand, all customers I am aware of still use some flavor of HL7 2.x + custom abominations by the large vendors.
I am reasonably happy with https://github.com/Efferent-Health/HL7-dotnetcore , which is not too compatible though. Seems a little more low level, simple and more forgiving

[2020-09-25 10:11] milkshakeuk opened #115 "Request to be added to the organisation"
Hi @duaneedwards I would like to be added to the organisation, not to become the maintainer of nhapi but I would at least try to help modernise the library for use with dotnet core and beyond.

[2020-09-26 01:10] duaneedwards commented on #115
Thanks Jake, invitation should be sent now.

If you run into any permissions issues trying to push your work just let me know and I can adjust if necessary.

I think it might be a good idea bump the version number to start with 3 with such changes as migrating to dotnet core is possibly a breaking change for consumers of the existing libraries.

[2020-09-26 08:28] milkshakeuk commented on #115
@duaneedwards in regards to the hl7 database that is used to generate the c# classes is this something you can share if not how would I go about obtaining or at least using a copy in a ci/cd pipeline to ensure everything still works as expected.

[2020-09-28 11:14] milkshakeuk commented on #115
@duaneedwards I am considering targeting net35 in addition to netstandard, that will mean it should work for existing consumers but at the same time enables netstandard support as well.

If I make that change then technically all I would be doing is targeting an additional framework. There would be no functional changes and the generated classes will remain identical, so not sure there would need

[2020-10-07 10:07] milkshakeuk commented on #115
@duaneedwards is this something you can help with?

[2020-10-07 21:28] ryankelley commented on #115
@duaneedwards I would also like to be added. I have had some issues and PR's open for months, and we actively use this in several production scenarios. Being able to contribute and give back would be great.

[2020-10-08 22:53] duaneedwards commented on #115
@milkshakeuk Sorry but I can't help you sourcing the hl7 database as that's a licensed product you'd need to purchase from HL7.org.  If I recall correctly it was a couple thousand USD so it's a pretty limiting factor for working with this project.

@ryankelley I've just invited you now with write access, let me know if you need further permissions.

FYI I don't have much time to put towards this p

[2020-10-20 14:51] Usualdosage opened #116 "Request to be added to the organization"
I'm actively developing using this library in conjunction with the FHIR spec. Would be happy to maintain.

[2020-10-20 18:58] duaneedwards commented on #116
Thanks, your invite should be sent now :-)

[2020-10-20 18:58] #116 closed

[2020-10-20 18:58] #115 closed

[2020-10-20 19:00] milkshakeuk commented on #115
@duaneedwards from what I can tell, although I have access to the repo I dont seem to be in the organisation.
https://github.com/orgs/nHapiNET/people
does that matter?

[2020-10-20 19:07] milkshakeuk commented on #115
@duaneedwards thanks, that seemed to have worked, did you get my email I sent to hl7.org?

[2020-10-22 18:14] Usualdosage commented on #111
This repo will still be actively maintained. The core object structure is still widely used by many healthcare companies, so until the HL7 is dead and gone, I'll keep this repo going.

[2020-10-22 18:14] #111 closed

[2020-10-22 18:25] Usualdosage commented on #78
This project is maintained and will support 2.4.

[2020-10-22 18:25] #78 closed

[2020-10-22 18:26] #87 closed

[2020-10-22 18:27] Usualdosage commented on #61
Solution updated to netstandard2.0.

[2020-10-22 18:27] #97 closed

[2020-10-22 18:39] Usualdosage commented on #80
Issue confirmed. Will update the detail record to allow multiple OBRs.

[2020-10-22 18:49] Usualdosage commented on #93
Valid issue. NTE segments are being added but values are always null. Will address.

[2020-10-22 19:11] Usualdosage commented on #105
Updated to allow max string length for ED fields.

[2020-10-22 19:11] #105 closed

[2020-10-22 19:30] Usualdosage commented on #104
I saw that you tried to add that with PR #102 . Please create a separate PR for this issue and I will review.

[2020-10-22 19:45] Usualdosage commented on #103
All primitives (FT, ST, etc) are escaped by default. Are there any other primitives that have this requirement? I'd prefer not to have to put in a one-off just for TX.

[2020-10-22 21:02] slartibartfast3000 commented on #103
Hi,

Not sure what you mean by escaped, this isn’t an escape problem. The library is trimming leading spaces.

Standard 2.5.1

2.A.78 TX - text data

Definition: String data meant for user display (on a terminal or printer). Such data would not necessarily be left justified since leading spaces may contribute greatly to the clarity of the presentation to the user. Because this type of data is inte

[2020-10-22 21:42] Usualdosage commented on #103
You previously said:

And you are correct, escape() IS trimming leading and trailing spaces (Escape.cs line 187) for all primitive types, including TX. My question was regarding the other primitive types. Should they also ignore trimming, or is TX "special"?

[2020-10-23 11:46] #104 closed

[2020-10-23 12:24] ssinfod opened #119 "License for nHAPI."
Hello Usualdosage.

I see that you are the new maintainer of nHAPI, this is great news !
I'm also using nHAPI since a few weeks.
Let me know if I can help.

Regarding this ticket. I think this project should have a license.
I sugget to have a MIT or BSD license.

What do you think ?

[2020-10-23 12:34] Usualdosage commented on #119
Hi ssinfod. According to the information I've seen in the files, it's licensed under the MPL/GPL v 1.1. This appears to come from the original port from java. As much as I'd like to put it under the MIT license, I don't think I'm legally allowed to change it.

/// (the "License"); you may not use this file except in compliance with the License.
/// You may obtain a copy of the License at http://ww

[2020-10-23 12:38] Usualdosage commented on #119
Added MPL 2.0 for review: https://github.com/nHapiNET/nHapi/pull/120

[2020-10-23 12:41] Usualdosage commented on #95
Closing this issue as there appears to be a practical method for accomplishing this using native .NET code. Thanks for the information, nkm8!

[2020-10-23 12:41] #95 closed

[2020-10-23 13:51] Usualdosage commented on #94
You can use NHapi to find the total repetitions used as well as the instances of OM5 within a message. OM5 can contain repetitions of CE, but the message you provided appears to contain multiple CE elements in the same field. Per the  spec, I don't think that is allowed.

[2020-10-23 13:51] #94 closed

[2020-10-23 13:54] Usualdosage commented on #76
It doesn't.

`
case "\\Z":
   // We don't support this.
   //if (hex.All(c => HexDigits.Contains(char.ToUpper(c))))
   //{
   //    encodeCharacter = false;
   //    isEncodingSpecialCharacterSequence = true;
   //}
   break;
`

Ref: Escape.cs line 164

[2020-10-23 13:54] #76 closed

[2020-10-24 13:21] milkshakeuk opened #122 "Reset all master back to before the PR's were merged"
@Usualdosage I think we should reset master back to https://github.com/nHapiNET/nHapi/commit/4b197978f81d4010e777151d95b2089a2b93dc2a and re-open all the pull requests then we won't pollute the git log history with lots of revert commits.

Once this is done, we can come up with a strategy in regards to what order we want to deal with the PR.

If you are ok with this let me know and I'll do it usin

[2020-10-25 13:26] milkshakeuk opened #123 "Contribution Guidence"
We should probably come up with some sensible guidence/guidelines for people wishing to contribute.

For example adding appropriate unit tests where applicable.

[2020-10-25 13:38] milkshakeuk commented on #105
@Usualdosage

Have u checked the Hl7 specifications to see if the length has a limit of 200?

The point of NHapi is to adhere to the official hl7 standards.

[2020-10-27 05:23] Usualdosage commented on #122
@milkshakeuk I don't agree. The development of this repo has been halted for a long time. We can't count on getting a copy of the Normative DB in the near future. All of the changes were to the connection (OLE vs ODBC) and code-wise I see zero problem with that. Let's push forward. If we break, we revert. But I don't want to stall out.

[2020-10-27 05:27] Usualdosage commented on #123
I'd agree. But our unit test structure is sparse at best. I'll can make an effort to standardize the unit tests (or, you're welcome to, if you'd like), then we should put what we expect on the Wiki. But I definitely agree with guidelines.

[2020-10-27 05:39] Usualdosage commented on #105
For ED, ED is one of the few examples where an ID value is taken from an externally derived code system (IANA mime types in this case). The conformance length is 32: Applications SHALL be able to handle mime types up to a length of 32. Applications can choose to handle more if desired.

[2020-10-27 06:52] milkshakeuk commented on #122
@Usualdosage it may have halted in the past, but now there are active contributers it shouldn't be an issue any more, plus that's not an excuse to not revert the re review the pull requests.

 Since now there is a better understanding of how NHapi was designed but with code generation in mind we can put a bit more time and care into the review of the PRs and ask for tests ect where needed.

Also a

[2020-10-27 19:04] Usualdosage commented on #122
Ok. I'm fine with re-reviewing the PRs, as long as they are done in a timely fashion. Getting the netstandard support out the door is my top priority.

[2020-10-28 13:34] milkshakeuk commented on #122
@Usualdosage I have reverted repository back to the commit, and pushed what was master to a new branch called [master-backup](https://github.com/nHapiNET/nHapi/tree/master-backup) so we can cherry pick any previously merged pull requests back into master as and when we have reviewed them.

Unfortunately, there is no way to re-open a historically merged PR on GitHub, the person that originally crea

[2020-10-28 13:34] #122 closed

[2020-10-29 13:18] milkshakeuk commented on #115
@ryankelley did you accept the invite?

[2020-10-30 14:38] milkshakeuk opened #124 "Create CI/CD Pipeline"
Below is a sample of the things we would like to automate

* Build the base projects
* Run the source code generator
* Run the linter? (maybe use [StyleCopAnalyzers](https://github.com/DotNetAnalyzers/StyleCopAnalyzers) along with .editorconfig to define style rules?
* Build the complete source code including generated code
* Execute the unit tests
* Run Coverage tests?
* Generate the NuGet packag

[2020-10-30 14:40] milkshakeuk commented on #124
@jakubsuchybio I have created the GitHub Project board and created this ticket.
Happy to discuss if you need anything?

[2020-10-30 14:49] milkshakeuk commented on #61
Not been merged yet... but soon :D

[2020-10-30 15:06] milkshakeuk opened #125 "Add appsetting.json support"
Currently `App.config` is used for configuring the `Hl7PackageCollection` this ticket is to add support for `appsettings.json` which is used for configuration in modern dotnet applications.

[2020-10-30 15:20] milkshakeuk commented on #110
I believe as @SpaceCheeseII has already said this is part of the hl7 standard, unless you can point to the specification which suggests otherwise.

[2020-10-30 15:54] milkshakeuk commented on #123
@milkshakeuk [here](https://docs.aurelia.io/community-contribution/contributor-guide) is an example set of contribution guidelines we could "borrow" from.

[2020-10-30 19:11] jakubsuchybio commented on #124
Nice! Well, I already built few pipelines in Azure DevOps without .yaml (the old clicky one style). I think it would be much better to leverage GitHub Actions, so we don't need to manage two sets of users in Github and in Azure DevOps. I haven't done anything in Github Actions, but I'm eager to try it for a long time.

As I'm looking at the repo. There is a lot of going on. I think it would greatl

[2020-10-30 19:30] milkshakeuk commented on #124
@jakubsuchybio I agree I did something very similar for NHapiTools [see here](https://github.com/dib0/NHapiTools/pull/15). I added support for netstandard, restructured the project (almost identical to how u describe bit had a tools folder instead of a a build folder) and added some very basic GitHub actions.

If u want to create an issue for project structure please do so and I'll add it to the K

[2020-11-02 13:33] milkshakeuk opened #126 "Restructure the project"
Restructure the project to a more modern style.

[code]

[2020-11-02 13:34] milkshakeuk commented on #124
@jakubsuchybio I have created an issue for it #126 this should probably wait until the netstandard PR has been merged.

[2020-11-02 13:55] milkshakeuk opened #127 "Split out source code generation from Nhapi.Base"
Source code generation code should not be part of `nhap.base`. When people use the library, they most likely do not use the source code generation part of it.

Hapi, the java library that this library is a port of does not include the source code generation in its distributed library.

Benefits for this are:
*  `nhapi.base` doesn't need to reference `System.Data.Odbc`.

[2020-11-02 14:14] #61 closed

[2020-11-06 10:48] milkshakeuk opened #128 "Fix XML Build warnings"
Currently when building there are lots of XML comment warnings which need fixing.
A lot of the errors are generated as part of e the code generation so the fix for those will be done in the source generator code.

A sample of the warnings below.
[code]

[2020-11-06 12:07] milkshakeuk commented on #124
@jakubsuchybio I have created a pull request for the project restructure #129

[2020-11-06 14:50] jakubsuchybio commented on #124
That is great! Thanks for the info and sorry for what looks like ghosting from me. Lately my time for OSS and other stuff is really limited.

[2020-11-26 18:20] #126 closed

[2020-11-27 20:43] milkshakeuk commented on #124
@jakubsuchybio ok #129 has been merged, the project has been restructured. 👍

[2021-01-04 07:09] qtuan commented on #62
Hi, is there a known solution for this? Thanks!

[2021-01-14 15:32] NieminenS opened #131 "Parsing ADT_A39 v2.3 message fails"
MSH|^~\&|HKT|PSHP|XARCHIVE|PSHP|20210111060512||ADT^A39|000000026894447|P|2.3|||AL|NE||8859/1
EVN|A39|20210111060512
PID||110121xxxxx^^^PSHP^HETU|110121xxxxx^^^PSHP^HETU||NN^NN^^^^^D^A||20210111|1|^""^^^^^A^A~""^^^^^^M^A||xxxx^^837 xxxx^^33400 xxxx^""^M||^PRN^PH^^^^0442062007|^WPN^PH^^^^""|fi||||||280887-114M^^^PSHP^HETU|||||||""|""|N||""
MRG|110121A025^^^PSHP^VHETU|||110121A025^^^PSHP^VHETU

The

[2021-01-14 15:33] NieminenS opened #132 "Fails to parse ADT_A39 v2.3 message"
MSH|^~\&|HKT|PSHP|XARCHIVE|PSHP|20210111060512||ADT^A39|000000026894447|P|2.3|||AL|NE||8859/1
EVN|A39|20210111060512
PID||110121xxxxx^^^PSHP^HETU|110121xxxxx^^^PSHP^HETU||NN^NN^^^^^D^A||20210111|1|^""^^^^^A^A~""^^^^^^M^A||xxxx^^837 xxxx^^33400 xxxx^""^M||^PRN^PH^^^^0442062007|^WPN^PH^^^^""|fi||||||280887-114M^^^PSHP^HETU|||||||""|""|N||""
MRG|110121A025^^^PSHP^VHETU|||110121A025^^^PSHP^VHETU

The

[2021-01-14 15:35] NieminenS commented on #132
Duplicate.

[2021-01-14 15:35] #132 closed

[2021-01-17 13:24] milkshakeuk commented on #131
Hi @NieminenS can you give me a bit more detail? How are you trying to access the PID?
I wrote this test and it passes just fine.

[code]

[2021-01-18 10:50] NieminenS commented on #131
Hi,

thank you for the swift response. I am planning to use NHapi in an ongoing customer project and this helps me forward.

The NHapi version installed is 3.0.0-preview.1. However, that is not the issue, but the way how I tried to access the message. An example I found (from "The NHapi Beginner's Guide", 2013) was written as follows:

                        NHapi.Model.V23.Segment.PID pid1 = (NH

[2021-01-18 10:50] #131 closed

[2021-01-18 19:21] milkshakeuk commented on #132
@NieminenS which ticket is this a duplicate of?

[2021-01-19 06:57] NieminenS commented on #132
Hi, issuen #131. I amended my comment to issue #132 with this information.  BR Seppo

[2021-01-19 15:06] milkshakeuk commented on #131
@NieminenS the specification for ADT^39 v2.3 look like this:
https://hl7-definition.caristix.com/v2/HL7v2.3/TriggerEvents/ADT_A39

Where As the specification for ADT^31 v2.3 looks like this:
https://hl7-definition.caristix.com/v2/HL7v2.3/TriggerEvents/ADT_A31

even though the hl7 structure may look similar when you compare the raw message structure, in the A31 `PID` is part of the top-level collec

[2021-01-22 03:44] devshangari opened #133 "HL7 Exception when parsing ORM_O01 message"
HL7 Message:
`MSH|^~\&|A|B1|C|C|20201208134545||ORM^O01|Q3255132777T3949289903||2.3||||||8859/1
PID|1||0123456789||PATIENT01^TEST||19700101|M||ASA|1234 Here Street^^Spokane^WA^99202||(509) 555-1212^^^jdoe@paml.com|
PV1|1||^^^DrSmith^^^Building1^^Description||||||||||||||||||||||||||||||||||||654321|
IN1|1|PLANID|INSCOMPANYID|Insurance Company, Inc.|123 Ins Way^^Spokane^WA^99202|||GROUP1234|||World

[2021-01-23 11:20] milkshakeuk commented on #133
@devshangar I wonder if this is a duplicate of #63?

I see if I can have a look over the weekend.

[2021-01-23 14:15] milkshakeuk commented on #133
Okay, yes seems like an issue. but looks more like a bug with the parser when it tries to construct the ID (OBX-2) using the wrong constructor arguments.

https://github.com/nHapiNET/nHapi/blob/2c9092267d102b10e29ea81766596f2055be0002/src/NHapi.Base/Model/Varies.cs#L168

I wonder what [hapi](https://github.com/hapifhir/hapi-hl7v2) does in this scenario. I'll see if I can look more into this over t

[2021-01-23 20:49] milkshakeuk commented on #133
Ok I figured it out, all the `ID` data types for each hl7 version inherit from abstract class `NHapi.Base.Model.Primitive.ID` this class has the required constructors needed howver public constructors on an abstract class get converted to protected, so unless public constructors are added to the derived `ID` datatype classed which then call down to the base constructors it will always below up bec

[2021-01-23 21:16] milkshakeuk commented on #133
I managed to fix it locally for `ID` datatypes but adding the required constructors but it then failed on another datatype `IS`, seems more time will need to be spent on this.

We currently can't rerun the source generator until we obtain the HL7 Normative database, but we can update the output.
It might take me a few weeks to ensure I have captured all the data types with this constructor issue.

[2021-01-23 21:23] milkshakeuk commented on #133
Looking at the source code generation `IS`, `ID`, `DT`, `DTM` and `TM` datatypes are coded manually i.e. not source code generated.

[code]
So at least now I know which ones are most likely affected.

[2021-01-24 22:10] devshangari commented on #133
Thanks for looking into this @milkshakeuk

[2021-01-25 09:52] milkshakeuk commented on #2
@AFAde do you have any example message types I should be looking at which contain DTM in hapi (hl7 v2.4),
I can't see it here in the listed datatypes: https://hapifhir.github.io/hapi-hl7v2/v24/apidocs/ca/uhn/hl7v2/model/v24/datatype/package-summary.html

[2021-01-25 10:33] AFAde commented on #2
@milkshakeuk It looks like you're right, it was introduced in the version 2.7. Probably  I found the 2.4 version in a fork of the project but I cannot recall exactly where (it's been a long long time ago)

[https://hapifhir.github.io/hapi-hl7v2/base/apidocs/ca/uhn/hl7v2/model/v27/datatype/DTM.html](https://hapifhir.github.io/hapi-hl7v2/base/apidocs/ca/uhn/hl7v2/model/v27/datatype/DTM.html)

[2021-01-25 18:27] milkshakeuk commented on #2
@AFAde `DTM` data type seems to exist from v2.5.1 upwards in nHapi.

[src/NHapi.Model.V251/Datatype/DTM.cs](https://github.com/nHapiNET/nHapi/blob/3db54cbd240c05a20ce6a709739325a448f74ca0/src/NHapi.Model.V251/Datatype/DTM.cs)

Does this issue need to remain open?

[2021-01-26 07:52] #2 closed

[2021-01-26 07:52] AFAde commented on #2
No, I will close it, thanks

[2021-01-26 14:34] milkshakeuk commented on #85
I think this is actually the same issue as explained in #133 but in this case on message type ORU^R01.

[2021-01-27 20:21] #127 closed

[2021-01-27 21:00] milkshakeuk commented on #133
@devshangari I have made lots of progress on this, just adding unit tests and should have a PR up by the weekend at the latest.

[2021-01-28 20:54] milkshakeuk commented on #109
@swapnilspande27 I have replicated this, it's  caused my infinite recursion in some of the data types it also effects hl7 versions 2.7 and above.

[2021-01-28 20:58] milkshakeuk commented on #86
@jsdratm I have replicated this, it's  caused my infinite recursion in some of the data types it also effects hl7 versions 2.7 and above.

[2021-01-28 21:14] AMCN41R commented on #128
@milkshakeuk - i'll take a look at this if you want

[2021-01-28 21:17] milkshakeuk commented on #128
@AMCN41R thanks!

[2021-01-28 21:47] AMCN41R commented on #128
@milkshakeuk - will probably tackle this over a number of PRs to make it clear. Here is number 1...

[PR 135](https://github.com/nHapiNET/nHapi/pull/135)

[2021-01-29 16:07] milkshakeuk commented on #45
@0x4AMiller Hi thanks for this, I also discovered this whilst writing unit tests for another issue #133 so will fix this in the same PR

[2021-01-29 20:48] milkshakeuk commented on #133
@devshangari ok I have a PR up for this #136 hopefully will be merged soon then I'll create a new preview release.

[2021-01-30 12:32] #45 closed

[2021-01-30 12:32] #62 closed

[2021-01-30 12:32] #85 closed

[2021-01-30 12:32] #86 closed

[2021-01-30 12:32] #109 closed

[2021-01-30 12:32] #133 closed

[2021-01-30 15:34] AMCN41R commented on #128
@milkshakeuk - Another PR for this... [PR 137](https://github.com/nHapiNET/nHapi/pull/137)

I think that covers this issue, but let me know if you want me to do anything else to close this.

[2021-01-30 15:41] AMCN41R commented on #124
@milkshakeuk do you want to/want me to spin off another issue to add StyleCopAnalysers to the main projects?

Happy to pick that up and start fixing the warnings - could use that ticket to discuss/agree basic styling rules? I'm happy with the StyleCop defaults, but don't have any strong opinions.

[2021-01-30 16:18] milkshakeuk commented on #124
@AMCN41R sounds good to me!

[2021-01-30 16:59] jakubsuchybio commented on #124
If anybody else wants this, I'll gladly give it up :) because I'm in process of moving to another flat and have basically 0 time for OSS :(

[2021-01-30 19:10] AMCN41R opened #138 "Add StyleCopAnalyzers to main projects"
Add [StyleCopAnalyzers](https://github.com/DotNetAnalyzers/StyleCopAnalyzers) nuget package and associated configuration to main projects:
- ModelGenerator
- NHapi.Base
- NHapi.SourceGeneration
- NHapi.NUnit.SourceGeneration

Requierd configuration files:
- stylecop.json
- .editorconfig file
- omnisharp.json (for VS code support)

These files can be stored at the solution level, and refrenced by e

[2021-01-30 19:11] AMCN41R commented on #138
@milkshakeuk @duaneedwards - if you guys have any specific style preferences, lets document here?

[2021-01-30 21:14] milkshakeuk commented on #138
Sounds good to me, I don't have a preference so I would recommend the microsoft standard rules, you can probably obtain an `.editorconfig` from one of their repos.

[2021-01-30 21:16] milkshakeuk commented on #133
@devshangari I have published a new preview release with the bug fixes in.
https://www.nuget.org/packages/nHapi/3.0.0-preview.2

[2021-01-30 22:30] AMCN41R commented on #138
https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

[2021-02-01 08:41] milkshakeuk commented on #138
The one thing I would say is that any public members which might clash against the naming rules, should be ignored to begin with this otherwise we will break the API contract.

My plan with this is to have 2 (new correctly styled members) and the old ones remain with `Obsolete` attributes applied. These can be removed in a future major revision.

[2021-02-01 09:29] AMCN41R commented on #138
Yep. Agreed.

[2021-02-01 09:48] milkshakeuk commented on #128
Build warnings associated with comments in the code have gone so I'm going to close this.

[2021-02-01 09:48] #128 closed

[2021-02-01 11:14] milkshakeuk opened #139 "Repository Settings / Permissions"
Hi @duaneedwards can you give me access to the repository settings tab so I can set up things like issue templates.

I would also like to be able to [publish nuget releases to via github](https://github.com/orgs/nHapiNET/packages?repo_name=nHapi) as well as nuget.org.

This _could_ be used to publish alphas, experimental releases or CI/CD builds before being released to nuget.org, _or_  just an ad

[2021-02-01 11:21] AMCN41R commented on #138
StyleCop.Analyzers has a rule for file headers, [SA1633](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1633.md), that is enabled by default.

![image](https://user-images.githubusercontent.com/15929161/106447706-b971de80-6479-11eb-98ab-9daec60a9a8d.png)

Do you want this in each file? If not, we can globally disable the rule.

I'm happy either way.

[2021-02-01 11:37] milkshakeuk commented on #138
I think this one can probably be turned off, unless @duaneedwards has any issues with this.

[2021-02-01 18:59] duaneedwards commented on #139
Have applied the maintainer role to your account, hopefully this gives you what you need.

[2021-02-01 19:01] duaneedwards commented on #138
No issues with turning this off from my side

[2021-02-01 19:49] milkshakeuk commented on #139
@duaneedwards I have followed the instructions [here](https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository#creating-issue-templates) but no joy, I do have the settings tab now with a few options for setting up the types of merges etc but no **features** or **issues** section.

![Screenshot_20210201-194853.png](https://user-images.githubuserc

[2021-02-01 22:52] duaneedwards commented on #139
I can see those options on my account so it must be an admin level feature I guess, have made you admin now so hopefully you can see the Features section now.

[2021-02-02 11:06] milkshakeuk commented on #139
@duaneedwards ok that has worked, thank you!

[2021-02-02 11:06] #139 closed

[2021-02-02 12:35] #119 closed

[2021-02-09 17:22] AMCN41R commented on #138
https://github.com/nHapiNET/nHapi/pull/143

[2021-02-10 07:25] sadath opened #144 "HL7 2.5 OML_O33 Lab Order"
I am using OML_O33 to generate the Lab order
I  have Created the Message Header Segment with Values
I want to Add Specimen after pid i am unable to add
i am finding Issues  adding the specimen below is the sample message

[code]

[code]

[2021-02-10 12:27] milkshakeuk commented on #144
Hi,

Could you please provide some more information?
What version of NHapi are you using?

What hl7 version are trying to generate a message for?

[2021-02-10 13:08] sadath commented on #144
Thanks for the Reply

Nhapi version is  2.4.0.0

I am trying to generate for HL7 Messaging Standard 2.5

I am trying write a program for an lab machine  in which with my local data base i have to convert to hl7 format of 2.5
and then send and  receive the  data from the machine below is sample Message Structure  given by the machine vendor

MSH|^~\&|||YH5^123456A^1.0.0|MEDICAL|20161012144125||OML^

[2021-02-10 13:11] milkshakeuk commented on #144
Could you provide a code sample of how you have tried to construct this message?

also is there any reason you are using an old version of nhapi?

[2021-02-10 13:25] sadath commented on #144
No reason i can use the latest one
below is how I am trying to construct

internal class Message
    {

        private NHapi.Model.V25.Message.OML_O33 a1;

        public NHapi.Model.V25.Message.OML_O33 Build()
        {
            var currentDateTimeString = GetCurrentTimeStamp();
            var a1 = new NHapi.Model.V25.Message.OML_O33();

            createoml33(currentDateTimeString);

[2021-02-10 19:58] milkshakeuk commented on #144
Hi, there is a useful web article showing how you can create messages with nHpi [here](https://saravanansubramanian.com/hl72xnhapicreatemessage/).

I used that article as a basis and to create the example hl7 message you described, you would do something like this:
[code]
and here is how you would use it.
[code]
and this was the result.
[code]
Hope this helps!

[2021-02-11 06:17] sadath commented on #144
thank you so very much its very helpful thanks a lot

[2021-02-11 07:32] milkshakeuk commented on #144
@sadath no problem, I'll close this issue, reopen if there is an issue with NHapi.

[2021-02-11 07:32] #144 closed

[2021-02-11 08:32] sadath commented on #144
It was very Helpfull

[2021-02-11 14:54] NieminenS commented on #131
@milkshakeuk - thanks, you are right:

<img width="453" alt="ADT_A39_structure" src="https://user-images.githubusercontent.com/1269381/107652955-c9639c80-6c89-11eb-9dee-73de6aed78b2.png">

[2021-02-15 09:14] milkshakeuk opened #146 "Improve Test Coverage"
Of course, test coverage is not a measure of quality, however it does give you an idea of how much of the code is tested.

To that end the test coverage needs to be increased so any help adding tests would be very greatful.

[2021-02-17 10:46] milkshakeuk commented on #138
@AMCN41R I think this is covered by #143 so ill close it.

[2021-02-17 10:46] #138 closed

[2021-02-18 14:05] milkshakeuk commented on #110
closing for now unless @kccarter76 can point to the specification which suggests there is an issue.

[2021-02-18 14:05] #110 closed

[2021-02-19 19:30] milkshakeuk commented on #93
@mettlus could you provide a sample HL7 message and tell us what version of NHapi this issue is for and what version of hl7?

Cheers.

[2021-02-21 20:29] milkshakeuk commented on #103
@slartibartfast3000 FYI in case you are interested.
I copied an `Escape` [unit test from hapi](https://github.com/hapifhir/hapi-hl7v2/blob/efca803e58aea1705ba6b28390ad24c4c3b1d3cb/hapi-test/src/test/java/ca/uhn/hl7v2/parser/EscapeTest.java#L136) (though technically it's not really a unit test since its testing multiple layers).
This unit test show that some whitespace at the end of the string is p

[2021-03-02 19:59] milkshakeuk opened #189 "Register package id prefix"
It is [recommended by Microsoft](https://docs.microsoft.com/en-us/nuget/create-packages/package-authoring-best-practices#types-of-recommendations) to reserve and therefore protect the nuget package id by using a registered prefix.

You can register a prefix following these [instructions](https://docs.microsoft.com/en-us/nuget/nuget-org/id-prefix-reservation#id-prefix-reservation-application-proces

[2021-03-08 15:37] #103 closed

[2021-03-22 14:18] afaonline opened #191 "Parser does not allow some permissible IN1 and IN2 field repetitions for HL7 v. 2.3"
I've noticed that parser does not allow repetitions for IN1.3 "Insurance Company ID", while repetitions of this field is permitted by HL7 2.3. Also repetitions should be allowed for the IN1 fields 4–7, 9–11, 16, 19, 44, and 49.

By comparing the /src/NHapi.Model.V23/Segment/IN2.cs file and text of HL7 2.3 standard I can suppose that some IN2 fields also should be allowed to repeat. At the same tim

[2021-03-23 08:57] milkshakeuk commented on #191
@afaonline I have looked at the HL7 v2.3 specification for IN1 (section 6.4.6) and it looks like you are correct.
I also looked at the database that is used to generate the classes and I think I can see why this is happening:

**Section 6.4.6 on the HL7 v2.3 specification**
![image](https://user-images.githubusercontent.com/1087376/112118425-443aa400-8bb4-11eb-811e-d142b77f83cc.png)

**Query from

[2021-03-23 12:41] milkshakeuk commented on #191
@afaonline I have had a response from the database maintainer and this looks as though this is a database issue.

[2021-03-23 19:26] milkshakeuk commented on #191
@afaonline this defect is up for grabs, if you would like to create a PR to fix those `IN1` and `IN2` classes for the V2.3 models we would be more than greatfull.

[2021-03-24 11:47] afaonline commented on #191
I am not sure that it is OK to make changes in generated code, but I've created a pull request that fixes IN1 and IN2 field repetitions for HL7 v. 2.3

[2021-03-24 13:42] milkshakeuk commented on #191
@afaonline you are correct to be concerned about making changing to generated code however, the maintainer of the database isn't going provide an updated version in the immediate future.

Your PR will enable this fix to go out with the V3 release of nHapi, rather than wait for the next run of the source code generator.

The next planned re-run of the source code generator will be for V4 of nHapi (

[2021-03-24 17:48] #191 closed

[2021-04-10 00:32] JlKmn opened #196 "Bad Inputs cause unhandled exceptions and permanent hang"
**Description**
These bugs were gathered while Fuzzing the parsing function with [Sharpfuzz](https://github.com/Metalnem/sharpfuzz) and [AFL](https://github.com/google/AFL).
On bad inputs an HL7Exception should be thrown but other exceptions occur on some inputs.

**Exceptions and Inputs**
- **ArgumentOutOfRange**
b""
- **System**
b"MSH|0|||||||00|||2.7"
- **NullReference**
b"MSHH0\r"
- **IndexOut

[2021-04-10 09:07] milkshakeuk commented on #196
@JlKmn thanks for this I will look at it & your pull request when I get chance.

[2021-04-10 09:10] milkshakeuk commented on #89
@nasu38yen could you provide a sample HL7 message for testing this please?

[2021-04-10 10:51] JlKmn commented on #196
@milkshakeuk Great, once it is reviewed and merged I have deeper bugs of later Fuzzing Runs and fixes for them. I didn't want to have too much in one pull request.

[2021-04-10 11:46] milkshakeuk commented on #196
@JlKmn, I am currently working on porting the newer `PipeParser` from `hapi` to fix certain issues caused by unexpected segments (probably fixes other things too).

The current `PipeParser` you have fuzzed will remain but be renamed `LegacyPipeParser`.

It's probably good to have these fixes in the `LegacyPipeParser` anyway but it might be useful if you could do the fuzzing again when the new `Pip

[2021-04-10 11:47] JlKmn commented on #196
Yes absolutely, I did the Fuzzing as part of my thesis that I'm currently working on. When do you think the new PipeParser is online?

[2021-04-10 11:50] milkshakeuk commented on #196
@JlKmn I'm not 100% sure, I'm just writing the unit tests to finish the PR off.
Hopefully in the next day or so?

[2021-04-10 16:10] JlKmn commented on #196
It's just to indicate that its python byte string output

[2021-04-11 17:33] JlKmn opened #198 "BadInputs cause StackOverflow/Access Violation"
**Description**
On certain inputs some v2.8 Datatype structures are stuck in an endless recursive loop calling their own constructor. This causes a StackOverflow Exception in net461 and an access violation exit in netcoreapp 3.1. This recursive loop is caused because the Datatype implementation is not according to the HL7 Definition.

**Exceptions and Inputs**
- **StackOverflow/Access violation**

[2021-04-11 18:25] milkshakeuk commented on #198
@JlKmn again thank you for this.

The message structures specific to each hl7 version are generated from the HL7 database. Which suggests perhaps the database also needs updating, I'll have a look into this and reach out to the maintainer of the database if this is the case.

[2021-04-11 19:37] milkshakeuk commented on #91
From what I understand about `ORC-10` in HL7 V23 it is [not repeatable](https://hl7-definition.caristix.com/v2/HL7v2.3/Fields/ORC.10).

[2021-04-11 19:37] #91 closed

[2021-04-12 07:14] jakubsuchybio commented on #91
I understand that the same as you, non-repeatable.

[2021-04-12 09:51] milkshakeuk commented on #90
It doesn't, it supports multiple `ORDER_OBSERVATION` groups which is groups of `ORC`, `OBR`, `OBX`.

![image](https://user-images.githubusercontent.com/1087376/114375228-5e94eb80-9b7c-11eb-9451-0a2823922d54.png)

What you have above is multiple ORDER_OBSERVATIONS.

[code]

[2021-04-12 09:51] #90 closed

[2021-04-12 10:11] milkshakeuk commented on #84
This was fixed by #136, and is available in the latest preview [v3.0.0-preview.2](https://github.com/nHapiNET/nHapi/releases/tag/v3.0.0-preview.2).

I wrote a quick test just to make sure
[code]

[2021-04-12 10:11] #84 closed

[2021-04-12 10:14] milkshakeuk commented on #83
Message Type `ORM_O01` in HL& Spec V2.8, which is why there is no message class for it.

[2021-04-12 10:14] #83 closed

[2021-04-12 10:15] milkshakeuk commented on #82
Message Type `ORM_O01` in HL& Spec V2.7, which is why there is no message class for it.

[2021-04-12 10:15] #82 closed

[2021-04-12 10:22] milkshakeuk commented on #79
This seems to be working in the most recent version [v3.0.0-preview.2](https://github.com/nHapiNET/nHapi/releases/tag/v3.0.0-preview.2).

[code]

I'll close this for now, if you think that this is not fixed please re-open this ticket.

[2021-04-12 10:22] #79 closed

[2021-04-12 11:37] #196 closed

[2021-04-12 11:38] milkshakeuk commented on #198
@JlKmn is this fixed by #197

[2021-04-12 11:40] JlKmn commented on #198
Yes

[2021-04-12 11:40] JlKmn commented on #198
I decided to add the solution in there

[2021-04-12 11:41] #198 closed

[2021-04-12 12:16] milkshakeuk commented on #77
This seems to be working in the most recent version [v3.0.0-preview.2](https://github.com/nHapiNET/nHapi/releases/tag/v3.0.0-preview.2).

[code]

I'll close this for now, if you think that this is not fixed, please re-open this ticket.

[2021-04-12 12:16] #77 closed

[2021-04-12 12:23] milkshakeuk commented on #74
This was fixed in #185, which is available in the most recent version [v3.0.0-preview.2](https://github.com/nHapiNET/nHapi/releases/tag/v3.0.0-preview.2).

[2021-04-12 12:23] #74 closed

[2021-04-12 12:27] milkshakeuk commented on #69
@roncansan which Message Type and Version of the HL7 Spec are you trying to make this work with?

[2021-04-12 13:18] milkshakeuk commented on #64
This should already be possible since `PackageManager` has its instance publicly available i.e.

[code]

[2021-04-12 13:25] milkshakeuk commented on #63
@AlexFJaxFL is this a feature request / enhancement to allow configuration or a defect with the current behaviour?

[2021-04-12 15:09] AlexFJaxFL commented on #63
it is both

[2021-04-12 18:27] milkshakeuk commented on #63
@AlexFJaxFL I understand the wish for to be able to configure the default type if `OBX-2` is empty so ill add the `enhancement` label but not sure what the defect is.

[2021-04-12 18:56] AlexFJaxFL commented on #63
agree, no defect here, my previous statement was incorrect

[2021-04-14 13:26] cs4jx86 commented on #59
I found in the custom _Message_ class you need to override the _GetStructureName_ function.
In my function I inherited from VXU_V04 but it should be the same.

[code]

[2021-04-14 13:53] milkshakeuk commented on #59
@Tharkius does @cs4jx86 recommendation fix your issue?

[2021-04-14 17:50] milkshakeuk commented on #59
You could even do:

[code]

[2021-04-15 09:20] milkshakeuk commented on #35
@thestephenstanton do you have an example message?

[2021-04-15 10:34] milkshakeuk commented on #51
The PR #200 fixes this.

The following test passes.
[code]

[2021-04-15 11:18] milkshakeuk commented on #55
@jotavillalobos looking at your example you should get:

1 SPM with 1 ORDER
1 SPM with 3 ORDER
1 SPM with 1 ORDER

[2021-04-15 11:23] milkshakeuk commented on #55
The PR #200 fixes this.

The following test passes.
[code]

[2021-04-15 13:11] milkshakeuk commented on #72
The changes in PR #200 should allow you to access the NK1 data.

I have added a test for this.
[code]

The reason you have to use `NK12` in the `GetAll` Method like so  `adtA01.GetAll("NK12")` is because the parser was not expecting `NK1` segments after the `PV1`.

In the message type `ADT_A01` and `ADT_A03` the `NK1` segments should come after the `PID` segment and before the `PV1` segment in the

[2021-04-15 13:20] milkshakeuk commented on #16
@duaneedwards I think this is something that likely isn't going to be fixed any time soon, maybe we mark this with a `wontfix` label and close for now?

[2021-04-15 13:27] milkshakeuk commented on #56
@EdwinVanVliet this is fixed in PR #200.
It's the same issue as #55 but with a different message type, I wrote a test to check it has been fixed here too, and it has.

[code]

[2021-04-15 14:03] milkshakeuk commented on #81
this was fixed as part of #136.

did a quick test.
[code]

[2021-04-15 14:03] #81 closed

[2021-04-15 14:07] milkshakeuk commented on #34
@lechuckcaptain I don't suppose you could update your link, it's out of date by now... sorry.
Also you point to how this is done in hapi?

[2021-04-15 15:17] #51 closed

[2021-04-15 15:17] #101 closed

[2021-04-15 15:17] #55 closed

[2021-04-15 15:17] #56 closed

[2021-04-15 15:17] #72 closed

[2021-04-15 15:54] lechuckcaptain commented on #34
Sorry @milkshakeuk, don't have anymore the setup to answer your question. Maybe if we are lucky enough @GiorgioFGambini can tell us if it's still an issue or not.

[2021-04-16 00:19] JlKmn opened #203 "Bad Inputs of new Parser"
@milkshakeuk
**Describe the bug**
I did a short first 5 min Fuzzing run and you can find the results of my minimizer script here [nHapiMinCrashes](https://github.com/JlKmn/nHapiMinCrashes)

**To Reproduce**
You can add the minimized unique crash inputs from the folder to the BadInputs Test folder to debug them.
unique_min_crashes contains the crash inputs together with their exception trace to rev

[2021-04-16 11:25] milkshakeuk commented on #65
@josephrodriguez the information is in the message just not as a separate order but as a PRIOR_RESULT as described by @yoliva and @rutzelt.
Hapi's default behaviour is identical which is why they have configuration options such as `setNonGreedyMode` to cater for this.

[2021-04-16 13:30] JlKmn commented on #203
Just updated it with newer crash inputs of longer run

[2021-04-16 15:02] milkshakeuk commented on #203
@JlKmn thank you.

[2021-04-16 15:21] milkshakeuk commented on #203
This carries on the work from #196 and #198.

[2021-04-19 14:01] thestephenstanton commented on #35
@milkshakeuk it's been so long and I don't work with this repo anymore so I do not.

[2021-04-20 08:56] milkshakeuk commented on #67
This looks to be the same issue as #35.

[2021-04-20 08:56] #67 closed

[2021-04-23 11:08] AMCN41R opened #206 "Missing Parse Error Example Files in V26 Parser Tests"
@duaneedwards

There is reference to a file...
`var filePath = @"C:\Users\Duane\Desktop\ParseErrors\20160628_142635469_b94dde77-857a-4881-8915-6814809c5442.HL7";`

...used in...
`NHapi.NUnit.Parser.PipeParserV26Tests` and `NHapi.NUnit.Parser.LegacyPipeParserV26Tests`

Any chance you still have this file? If so, can you attach it and i'll add it into the project and update the tests.

[2021-05-04 10:03] JlKmn opened #210 "BadInputs cause unexpected behavior"
**Description**
You can find bad inputs with corresponding stack trace in _unique_min_crashes_ and the byte input files in _CrashesDeduplicatedMinimized_:

[Run2 Results](https://github.com/JlKmn/nHapiMinCrashes/tree/master/Run2)

[2021-05-20 09:47] JlKmn commented on #210
Just to add, since i'm done with fuzzing this: If anybody wants to fuzz test in the future i pushed my [NHapi-Fuzz-Environment](https://github.com/JlKmn/NHapi-Fuzz-Environment)

[2021-05-27 03:05] dinhnam2901 opened #213 "Cannot get the diagnosis description in ORM_O01"
Hi @all !

Describe the bug:
I cannot get the diagnosis description from the ORM_O01 message by using nhapi.

[code]

But, I using the hl7 tool and it getting ok.
![GetDescriptionByTool](https://user-images.githubusercontent.com/20145650/119759808-12ef9480-bed3-11eb-8136-74790e36fcbc.PNG)

And, there is my hl7 message:

[code]

Environmental Details:
 - OS:  Windows Server 2019
 - Target .Net Fram

[2021-05-27 09:20] milkshakeuk commented on #213
@dinhnam2901 what version of nHapi does this relate to?

[2021-05-27 09:31] milkshakeuk commented on #213
Having done a brief inspection, it looks like your message is nonstandard (some of the segments are in the wrong order), if you move the DG1 to the end so it's your last segment then it will become standard and the code you supplied show include a value.

[code]

Hapi test panel also shows this, because `DG1` came before `OCR` and `OBR` it makes them all look like they are nonstandard.

![image](h

[2021-05-27 09:35] dinhnam2901 commented on #213
I see.
Thank you so much!

[2021-05-27 09:36] milkshakeuk commented on #213
let me know if that fixes your issue.

[2021-05-27 09:53] dinhnam2901 commented on #213
Yeah, I was corrected as same as your suggestion, and it work correctly!

[2021-05-27 09:54] #213 closed

[2021-05-28 21:12] milkshakeuk commented on #203
Fixed by #205

[2021-05-28 21:12] #203 closed

[2021-06-01 07:38] milkshakeuk commented on #93
@mettlus I'm closing this for now as there is not enough information provided to replicate.
If it's still an issue, please re-open with appropriate example HL7 messages.

[2021-06-01 07:38] #93 closed

[2021-06-01 07:41] milkshakeuk commented on #89
@nasu38yen I'm closing this for now as there is not enough information to replicate.
If it's still an issue, please re-open with appropriate sample HL7 messages.

[2021-06-01 07:41] #89 closed

[2021-06-01 07:43] milkshakeuk commented on #59
@Tharkius I'm closing this as a possible work around has been provided and I haven't heard from you as to whether or not this is still an issue.
If this is still an issue, please feel free to re-open this ticket.

[2021-06-01 07:43] #59 closed

[2021-06-01 07:44] milkshakeuk commented on #57
@GhassanF I'm closing this for now as there is not enough information to replicate.
If it's still an issue, please re-open with appropriate sample HL7 messages.

[2021-06-01 07:44] #57 closed

[2021-06-01 15:02] #210 closed

[2021-06-15 07:49] milkshakeuk commented on #189
@duaneedwards Ok I followed the process and was able to register the prefix, see response below, the only slight issue is that the prefix registered is `nHapi.*` where as all our namespaces are `NHapi.*` I'm not sure if that is a problem.

![nuget-email](https://user-images.githubusercontent.com/1087376/122010904-7b83b000-cdb3-11eb-8408-7c4f59a385f1.png)

This means that we can release new nuget p

[2021-06-15 08:19] milkshakeuk opened #221 "nHapi Logo"
**Is your feature request related to a problem? Please describe.**
Currently nHapi does not have a logo, it would be nice if it did, it could then be added as the GitHub social media preview, and as the icon for the NuGet packages in nuget.org

**Describe the solution you'd like**
A nice logo 😎

**Describe alternatives you've considered**
Not having a logo - is fine but I think it would be nice to

[2021-06-16 08:18] AMCN41R commented on #189
I think its sensible to break down the packages - as long as we leave the full one too, and make it clear in the docs what packages you need to download.

I dont think the casing of nHapi will matter - using your example, `xunit` is lowercase, but the default namespace is `Xunit`

[2021-06-18 05:56] duaneedwards commented on #189
Agree on both counts to what AMCN41R said.  Definitely would want to keep the full package with all versions.

I could see some confusion by users if they just downloaded a specific version package and messages failed to parse due to missing DLLs.  If it comes up, at that point may need to provide guidance / documentation around that to point them to.

[2021-06-18 08:18] milkshakeuk commented on #189
@duaneedwards Thanks for getting back to us, I agree of course.

I plan on doing the release sometime week after next (since I am unavailable next week), but before I do, I would like to update the wiki and the readme to make it super clear.

@duaneedwards did you receive me email btw?

[2021-06-18 10:16] duaneedwards commented on #189
Sounds good, got the email and am just catching up on things now ... a bit under the pump now with various projects so may take some time to respond in general.

[2021-06-22 18:40] #189 closed

[2021-06-22 18:40] milkshakeuk commented on #189
![Screenshot_20210622-193923.png](https://user-images.githubusercontent.com/1087376/122981436-a82a5f80-d391-11eb-97db-78717d4bccaa.png)

Will close this issue now.

[2021-08-07 12:33] Talcon2 opened #227 "NHAPI.Model.V24 not strongly named"
When trying to compile an application with NHAPI.Model.V24 referenced, visual studio throws an error:
assembly 'NHapi.Base, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies.
 A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)

[2021-08-09 13:17] milkshakeuk commented on #227
@Talcon2 thanks ill look into this.

[2021-08-09 15:11] milkshakeuk commented on #227
@Talcon2 could you check with version 3.0.2 and let me know how that goes?

[2021-08-11 05:43] milkshakeuk commented on #227
@Talcon2 I'm closing date this, as I believe I have released a fix in version 3.0.2.

If you feel it's still an issue please feel free to re-open this issue.

[2021-08-11 05:43] #227 closed

[2021-09-05 08:20] alberk8 opened #231 "V2.8 ORU_R40"
**Describe the bug**
A clear and concise description of what the bug is.
I have a ORU_R40 which is an Alarm message but the library is missing the R40 message.

**To Reproduce**
Steps to reproduce the behaviour, include sample code whenever possible

[code]

**Expected behaviour**
A clear and concise description of what you expected to happen.
able to cast the ORU_R40 message.

**Screenshots**
If

[2021-09-09 09:40] milkshakeuk commented on #231
@alberk8 `ORU_R40` does exist but only for the hl7 specification 2.8 and 2.8.1 as I don't think existed in prior hl7 specifications  and your message is using the 2.6 as the hl7 specification. It does not have its own class, instead the hl7 is parsed into a shared model which is the `ORU_R01` class.

Could you try that and let me know how it goes.

[2021-09-18 08:25] milkshakeuk commented on #231
@alberk8 I'm going to close this ticket.

If you still think this is still an actual issue please feel free to re-open this and provide some additional info.

[2021-09-18 08:25] #231 closed

[2021-09-21 04:20] alberk8 commented on #231
So sorry for the delay as I did not check back,    I think it is a problem with the originating HL7 source, where they use version 2.6 but with ORU_R40.  By the way, the message comes from MindRay.

[2021-09-22 08:48] IanGralinski-Invetech opened #232 "HL7 2.5.1: Failure to parse ORDER group repetitions in OML_O33"
**Describe the bug**
When using the `PipeParser` to parse an `OML_O33` message with ORDER group repetitions, the repetitions are not in the parsed message structure. Only the first ORDER group is present.

**To Reproduce**
[code]

**Expected behaviour**
Expect that `orderReps` is 2, and that both `ORC` and `OBR` segments can be queried.

**Actual behaviour**
`orderReps` is 1, and only the first `O

[2021-09-23 09:30] milkshakeuk commented on #232
@IanGralinski-Invetech thank you for this, I will look into this as soon as I can.

[2021-10-04 13:08] milkshakeuk commented on #232
@IanGralinski-Invetech I think this and #65 are related.

It seems that this is due to the message structure and ambiguous choice of where nhapi should put a segment, the java hapi library uses a configuration option `NonGreedyMode` to deal with these messages which have ambiguous message structures.

See [hapi docs here](https://hapifhir.github.io/hapi-hl7v2/base/apidocs/index.html?ca/uhn/hl7v2/p

[2021-10-05 07:03] IanGralinski-Invetech commented on #232
@milkshakeuk I may have some time to pick this feature up in November, but may get delayed until December/January.

[2021-10-15 08:44] kalatchev opened #233 ".Net Language incompatibility"
**Description**
In class `NHapi.Base.Model.ExtraComponents` there is a **.net language incompatibility** because there are two methods (`GetComponent` and `NumComponents`) that have duplicates with a different casing, which works only in C#, but not in a case-insensitive languages such as VB.NET. Example: `getComponent` and `GetComponent`. These two methods are uninvokable through VB.NET and gener

[2021-10-29 19:25] kalatchev commented on #233
Thank you @milkshakeuk !

Your suggestion works just fine. The only modification I did is

`
Dim methodInfo = GetType(ExtraComponents).GetMethods().FirstOrDefault(Function(m) m.Name = "GetComponent")
`

since string comparison is case sensitive and `Function(m) m.Name = "GetComponent"` returns correct `MethodInfo`, there is no need to check for attributes, at least in this given situation.

Once a

[2021-10-29 19:25] #233 closed

[2021-10-29 19:56] milkshakeuk commented on #233
@kalatchev no problem, glad it worked for you.

[2021-11-09 03:42] IanGralinski-Invetech commented on #232
@milkshakeuk I have started looking into fixing this issue.

Do I need permissions to be able to push changes to this repo? Or is there a different process for creating pull requests?

[2021-11-09 07:17] milkshakeuk commented on #232
@IanGralinski-Invetech hi, same process as most repos i.e. fork the repo then create a pull request.

I think we should follow the pattern of [newtonsoft](https://www.newtonsoft.com/json/help/html/NamingStrategyCamelCase.htm) or the new [System.Text.JSON](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-customize-properties?pivots=dotnet-6-0#use-camel-case-for-all-js

[2021-11-20 18:35] #65 closed

[2021-11-20 18:35] #232 closed

[2021-11-22 11:45] milkshakeuk commented on #65
@josephrodriguez hi there is a [unit test](https://github.com/nHapiNET/nHapi/blob/ab256f7992c7cfb9c74c8ac94d664a2f61824d0d/tests/NHapi.NUnit/Parser/PipeParserV251Tests.cs#L214) for your attached example message now.

This will be in the v3.1.0 release

[2021-11-22 11:50] milkshakeuk commented on #34
@lechuckcaptain looks like the new url is https://hapifhir.github.io/hapi-hl7v2/v231/apidocs/ca/uhn/hl7v2/model/v231/segment/PID.html

[2021-11-22 13:39] milkshakeuk commented on #35
@thestephenstanton I don't think this is actually an issue anymore, looked at your original post and the event map for 231 no longer looks like that, in fact I thinks it was fixed in #107

[2021-11-22 13:39] #35 closed

[2021-11-23 08:59] milkshakeuk commented on #34
@lechuckcaptain you can technically add repetitions without the insert functionality:

If you call `GetPatientIDInternalID` and the repetition doesn't exist it will create it and return it to you as long as you don't use a repetition greater than the number of current repetitions.

If you need to know how many repetitions there currently are you can call `GetTotalFieldRepetitionsUsed()`
[code]

[2021-11-23 10:06] #34 closed

[2021-11-28 14:37] #63 closed

[2021-12-05 20:02] milkshakeuk opened #253 "Drop support for .NET framework 3.5"
**Is your feature request related to a problem? Please describe.**
.NET framework 3.5 is considered legacy and there is a development overhead to its continued support.

**Describe the solution you'd like**
Drop support for .NET framework 3.5 with [netstandard2.0](https://github.com/dotnet/standard/blob/master/docs/versions/netstandard2.0.md) being the minimum supported target. This covers project

[2021-12-19 13:19] Bodda-Elmisry opened #255 "receiving arabic text in HL7 message"
When receiving HL7 message contains arabic characters HL7 receive them as '????'

[2021-12-20 16:11] milkshakeuk commented on #255
@Bodda-Elmisry could you provide more details please perhaps some example messages etc.

[2022-01-06 20:49] michaelerice-github opened #260 "ORU_R01 GetPATIENT_RESULT() Fails With Exception "PATIENT_RESULT does not exist in the group""
When calling ORU_R01 message GetPATIENT_RESULT(), an exception occurs with the message "PATIENT_RESULT does not exist in the group". Currently using v26 namespace, but also tried v27 with the same result. Using v23 and calling GetRESPONSE() causes the same exception. Method AddPATIENT_RESULT() also produces the same exception.

Error code: APPLICATION_INTERNAL_ERROR
Message: "An unexpected error o

[2022-01-07 00:52] lebartha opened #261 "V2.4 with form ADT^A08"
We are getting patient update files (ADT^A08) from ADT version 2.4, however it seems that is not part of the nHapi API. Is there a reason? I see it in version 2.3 for example...

[2022-01-07 05:12] lebartha commented on #261
Got it, in the documentation its explained that some are parsed into ADT^A01.

[2022-01-07 09:00] milkshakeuk commented on #260
hi @michaelerice-github could you provide some example code?

[2022-01-07 09:01] milkshakeuk commented on #261
@lebartha can this be closed now?

[2022-01-07 12:43] michaelerice-github commented on #260
`
using NHapi.Base.Parser;
using NHapi.Model.V26.Message;
using System;
using System.ComponentModel;
using System.Drawing;
using System.Globalization;
using System.Windows.Forms;

namespace HL7Sample
{
	public class Form1 : Form
	{
		private IContainer components = null;
		private Button button1;

		public Form1()
		{
			InitializeComponent();
		}

		private void button1_Click(object sender, Event

[2022-01-07 14:19] jakubsuchybio commented on #260
That is weird. We use that part of code too and it's working fine with us. This is our usage in our `HL7Message26Writer.cs`
[code]

[2022-01-07 14:52] michaelerice-github commented on #260
Jakob,
I am using nhapi version 3.1.0. What version are you using?

[2022-01-07 14:54] jakubsuchybio commented on #260
[code]
We have a little bit modified cached version for our company purposes. But it is basically 3.0.4

[2022-01-07 15:01] milkshakeuk commented on #260
@michaelerice-github have you tried changing the type of the first argument in the `CreatePIDSegment` from `ObservationRequest` to `ORU_R01` ?

[code]

[2022-01-07 15:09] michaelerice-github commented on #260
I just tried that - no success.

[2022-01-07 16:05] milkshakeuk commented on #260
Ok, so this is throwing an exception because nhapi doesn't understand what is `ObservationRequest` is, it only knows about the message types in the library, now you can [extend the classes](https://saravanansubramanian.com/hl72xnhapiparsemessage/#step-2-of-3---create-a-specialized-class-by-extending-the-adt-a01-message-class) but notice how the extended class has the same name as the original nhap

[2022-01-07 16:11] michaelerice-github commented on #260
I changed the code to create a new ORU_R01 instead of the ObservationRequest object and it works.

Thanks!

[2022-01-07 16:11] #260 closed

[2022-01-07 16:25] #261 closed

[2022-01-09 10:22] milkshakeuk commented on #260
What modifications have you made?

[2022-01-09 10:30] milkshakeuk commented on #255
@Bodda-Elmisry did u sort your issue or do u have any example messages and sample code?

[2022-01-09 10:36] milkshakeuk commented on #60
@shirajmomin i believe this is a duplicate of #46

[2022-01-09 10:53] #60 closed

[2022-01-09 22:30] jakubsuchybio commented on #260
@milkshakeuk before you took over the administration of this project, it was kinda dead and we found a few bugs, which we fixed ourselves in our forked cache and created pull requests here. They are all already merged and fixed.
So after upgrading to "latest" at a time, only changes to our fork are readme and custom version. Also I forgot to do one PR about a little bug in powershell build, will c

[2022-01-10 11:57] milkshakeuk commented on #260
@jakubsuchybio you know you can add [custom models](https://github.com/nHapiNET/nHapi/wiki/Configuration-Options#custom-hl7-object-models) without editing the source code 😊

[2022-01-10 12:10] michaelerice-github commented on #260
Overriding the structure name and adding the constructors was the changes that were necessary to make the code work. Thanks for taking the time to respond in such a quick manner!

- Mike

From: Jake Aitchison ***@***.***>
Sent: Friday, January 7, 2022 11:06
To: nHapiNET/nHapi ***@***.***>
Cc: Michael Rice ***@***.***>; Mention ***@***.***>
Subject: Re: [nHapiNET/nHapi] ORU_R01 GetPATIENT_RESULT()

[2022-01-12 19:46] quinnmccourt opened #263 "Parser will not generate all fields on string parsed from XML"
**Describe the bug**
Two Hl7 strings, one that is pulled from XML and one that plaintext, with all the same values - the XML one will not process PATIENT_RESULTS while the plaintxt will.

**To Reproduce**
`PipeParser parser = new PipeParser();
Process hl7 strings in files below with this method: (NHapi.Model.V251.Message.ORU_R01)parser.Parse(hl7message,"2.5.1");`

**Expected behaviour**
I expect b

[2022-01-12 21:55] quinnmccourt commented on #263
I wanted to leave a little update: It turns out these files are different in how their lines end, the working string is using CR and the failing is using LF. So i guess this would be more of a feature request to be able to read both types of line ends as opposed to a bug. I'll leave it open for a contributor to determine.

[2022-01-13 08:49] milkshakeuk commented on #263
@quinnmccourt hi the following snippet is taken from the [HL7 Messaging V2.5.1 Specification](http://www.hl7.org/implement/standards/product_brief.cfm?product_id=144) pdf, but the segment terminator is the same in all 2.X versions AFAIK.

If you see all our unit tests which contain HL7 test messages explicitly set the terminator as `\r` at the end, `nhapi` is forgiving if the segment terminator is

[2022-01-13 08:49] #263 closed

[2022-01-13 09:02] milkshakeuk commented on #255
@Bodda-Elmisry im closing this for now, if this is still an issue please feel free to re-open with some sample messages and example code, thank you.

[2022-01-13 09:02] #255 closed

[2022-01-15 15:22] Jevonius opened #264 "Handling missing Segment in a Group - change in default behaviour from 2.5.0.6?"
Hi,

I'm in the process of updating from 2.5.0.6 to 3.1.0 and have noticed a change in behaviour that I can't find the commit/PR for, so am wondering about the rationale behind it; can anyone help? Under 2.5.0.6, a missing required field in a group still meant the message was parsed; the missing segment was silently created, and the rest of the group(s) populated as expected. Under 3.x, no [subseq

[2022-01-17 09:08] milkshakeuk commented on #264
Hi @Jevonius the PR which changed the default behaviour is #200, this was done to be in line with hapi (which nhapi is a port of), there is a [section in the wiki](https://github.com/nHapiNET/nHapi/wiki/Decoding-a-message#unexpected-segments) which explains what happens when an unexpected segment is parsed and how to access the data.

As far as I am aware the "old" behaviour would just stop popula

[2022-01-17 11:27] Jevonius commented on #264
Thanks for the pointer - my expectation of the old behaviour was the same as yours, so not entirely sure what's going on in my test. Will stick with the new behaviour, it's more predictable. As I say, I'm not sure the test as written was testing what it thought it was!

[2022-01-17 11:27] #264 closed

[2022-01-17 19:59] milkshakeuk commented on #263
@quinnmccourt did you see this comment?

[2022-01-22 14:51] milkshakeuk commented on #46
@gap777 if you are still willing, I am willing to assist 😊.

[2022-01-23 10:34] milkshakeuk commented on #46
This comment is me just noting down usefull information, it will expand over time as I find out more.

Hapi provides conformance support with the use of xsd schema files.

Hapi also uses these xsd schema files to generate the strongly typed classes in source gen.

You can obtain the hl7 V2 schemas used for conformance from [here](https://www.hl7.org/implement/standards/product_matrix.cfm) you need

[2022-01-28 20:49] quinnmccourt commented on #263
Thank you for the clarity on this issue!

[2022-02-02 09:01] milkshakeuk commented on #42
@ohadinho there are some useful tutorials on validating with nhapi [here](https://saravanansubramanian.com/hl7tutorials/#hl7-programming-tutorials-using-nhapi-and-net).

[2022-02-02 09:02] milkshakeuk commented on #60
@shirajmomin also there are some useful tutorials on validating with nhapi [here](https://saravanansubramanian.com/hl7tutorials/#hl7-programming-tutorials-using-nhapi-and-net).

[2022-02-15 11:14] giannisptr opened #276 "HL7 2.5 QBP^Q22^QBP_Q21 maximum repetitions is only 1 reps for Segment QPD"
When sending an ITI-21 PDQ message with multiple query parameters in QPD-3 field i receive the following exception when parsing the message:
`Can't get repetition 2 from field 3 - maximum repetitions is only 1 reps.: Segment: QPD (rep 0) Field #3`

Base on PDQ definition this should be  allowed

**Sample code**
PipeParser parserWithoutValidation = new PipeParser();
IMessage hl7Message = parserWith

[2022-02-15 14:48] milkshakeuk commented on #276
@giannisptr having had a quick look at the [hl7 V2.5 specification](https://hl7-definition.caristix.com/v2/HL7v2.5/Fields/QPD.3) `QPD-3` is not repeatable.

[2022-02-15 14:50] milkshakeuk commented on #276
@giannisptr [you can](https://hl7-definition.caristix.com/v2/HL7v2.5/TriggerEvents/QBP_Q21) have multiple `QPD` segments though, have you tried that?

[2022-02-15 15:06] milkshakeuk commented on #276
@giannisptr this could still be a valid issue, the hapi test panel seems to parse the message correctly.

[2022-02-15 15:43] milkshakeuk commented on #276
@giannisptr looks like this is the line causing your issue:
https://github.com/nHapiNET/nHapi/blob/fc250def8435142d9e79043c47faaa090b7c4018/src/NHapi.Base/Model/AbstractSegment.cs#L170

seems that hapi [doesn't do this max repetition check](https://github.com/hapifhir/hapi-hl7v2/blob/554f17b4ef8693cce9ade8ec90dc1dd37f36ca16/hapi-base/src/main/java/ca/uhn/hl7v2/model/AbstractSegment.java#L208), I t

[2022-02-15 16:05] milkshakeuk commented on #276
@giannisptr  this can be fixed but will require a new version of nhapi which will require you to update past v2.5.0.6.

[2022-02-16 07:19] giannisptr commented on #276
Yes no problem i can go to the lattest version.
So are you going to provide an updated version?
I will get it from nuget?

[2022-02-16 10:24] milkshakeuk commented on #276
@giannisptr before I go ahead with this, I am going to do some more digging around QPD-3 as I'm still not convinced its repeatable.

[2022-02-16 10:28] giannisptr commented on #276
Based on the IHE TF (https://www.ihe.net/uploadedFiles/Documents/ITI/IHE_ITI_TF_Rev10.0_Vol2a_FT_2013-09-27.pdf) it should be. It defines that:
"Field QPD-3-Demographics Fields consists of one or more repetitions, each of which contains
two components that together contain the name and value of a distinct parameter to the query. "

[2022-02-16 13:04] milkshakeuk commented on #276
@giannisptr I have included a unit test in the PR, I may still go ahead just to be in line with hapi, but I'm just reaching out to some people to see if according to the hl7 v2.5 specification its repeatable.

I checked the specification pdf but it's not clear.

[2022-02-16 14:12] milkshakeuk commented on #276
@giannisptr in case you're interested on the outcome of my digging you should be able to see it here:
https://chat.fhir.org/#narrow/stream/229447-V2

[2022-02-17 08:27] giannisptr commented on #276
I have evaluated this also with IHE tools and it is successful with repeatable QPD-3 as you can see here:
https://gazelle.ihe.net/EVSClient/hl7v2Result.seam?&oid=1.3.6.1.4.1.12559.11.1.2.1.4.1664549

[2022-02-19 08:58] #276 closed

[2022-02-19 09:52] milkshakeuk commented on #276
@giannisptr I have published the changes in nuget package v3.1.1, when you update you might have to fix some namespaces specifically the validation namespace which has been case corrected.

There is a newer version of nhapitools also which supports nhapi v3.X.

https://www.nuget.org/packages/nhapi/3.1.1

[2022-02-19 14:06] milkshakeuk opened #278 "Better Source Link Support"
**Is your feature request related to a problem? Please describe.**
Source Link is a technology that enables source code debugging of .NET assemblies from NuGet by developers. Source Link executes when creating the NuGet package and embeds source control metadata inside assemblies and the package. Developers who download the package and have Source Link enabled in Visual Studio can step into its so

[2022-02-21 10:25] giannisptr commented on #276
ok thank you very much

[2022-02-21 14:06] fredrikcarlbom opened #282 "Support inserting custom logging framework"
**Is your feature request related to a problem? Please describe.**
We are considering using nHapi in our product but since it writes its logs using a custom log framework that is a drawback.

**Describe the solution you'd like**
Supporting Microsoft.Extensions.Logging.Abstractions.ILoggerFactory would be ideal the ideal solution. This would also require implementing a default LoggerFactory that be

[2022-02-21 19:14] milkshakeuk commented on #282
@fredrikcarlbom Sounds like an excellent idea to me, though as it stands at the moment there isn't an army of people to pick these feature requests up, interested in supporting such a feature request?

In regards to your idea, I like it, I don't think `nhapi.base` should take a direct dependency on `Microsoft.Extensions.Logging.Abstractions` it should probably have its own `ILogger` interface whic

[2022-02-23 21:52] fredrikcarlbom commented on #282
@milkshakeuk Your solution sounds reasonable. I can't promise that I can help out with this or not, we have not made any final decision to go with nHapi.

[2022-02-28 22:33] fredrikcarlbom commented on #146
I find Codacy being bad at visualizing where tests are needed. Could either the generated files be ignored so we can use it to get a good overview or do you have any opinion on where tests are most needed?

[2022-03-01 08:55] milkshakeuk commented on #146
@fredrikcarlbom for now I would look to add unit tests for the non source-generated projects, depending on your IDE and or IDE plugins you can get a good view of the coverage (I agree codacy doesn't visualise this very well).

If you use rider it has build in coverage, if you use VisualStudio with resharper this is also included.

<img width="325" alt="image" src="https://user-images.githubusercon

[2022-04-24 14:42] milkshakeuk commented on #282
@fredrikcarlbom did you ever make a decision?

[2022-05-19 14:45] BogiG opened #298 "`ORL_O34` structure definition contains cyclic reference"
Parsing an `ORL_O34` Message gets a stackoverflow-exception

See HAPI BUG: https://sourceforge.net/p/hl7api/bugs/150/

For this reason parsing `ORL_O34` message cause StackOverflowError.

Current simplified definition (only relevant branch of message strucutre) is:

[code]

Instead of last `ORL_O34_SPECIMEN` there should be `ORL_O34_OBSERVATION_REQUEST_SPECIMEN`.

Bug in `ORL_O34_OBSERVATION_REQUE

[2022-05-19 16:00] BogiG commented on #298
missing https://hapifhir.github.io/hapi-hl7v2/v251/apidocs/ca/uhn/hl7v2/model/v251/group/ORL_O34_OBSERVATION_REQUEST_SPECIMEN.html

[2022-05-20 13:22] milkshakeuk commented on #298
@BogiG I can confirm this is a bug, will look into this when I can.

[2022-06-03 16:31] laxmi-lal-menaria opened #301 "Include the optional `LongName` attribute in the XML encoded output."
I am new to HL7 parser, I need to parse and save data to Database.

I have tried to use NHAPI and I found that its has all segments with their descriptions while debugging. I need these description with the segments position or any alternative to get them?

i.e. PID.5 ->  Patient Name

![image](https://user-images.githubusercontent.com/570114/171907031-055d0e98-1bc4-44ac-8629-efda97bb1238.png)

[2022-06-04 10:00] milkshakeuk commented on #301
@lmenaria can you provide more info on what output you're looking for? An example?

[2022-06-06 16:51] lmenaria commented on #301
I would need these actual name with the values.

![image](https://user-images.githubusercontent.com/570114/172207562-f7c8a5c9-553f-4980-94a2-0bcba4548fa7.png)

Or is there any mapping file where from I get these actual naming for my database.

Please help me on that part.

[2022-06-07 10:05] milkshakeuk commented on #301
Having had a look at the specification for the xml encoded hl7 v2 there is an `optional` attribute that can be used called `LongName` which should contain the information you want; this is currently not included in the xml encoded output likely because its optional and also it would make the output very large.

It would look like this:

[code]

Technically this could be done as an enhancement to t

[2022-06-07 10:23] laxmilal-menaria commented on #301
Thanks, I will review the code base and try to add this optional property.

Meanwhile if anyone who is willing to add the new property quickly, this will let me a lot.

[2022-06-13 16:34] lmenaria commented on #301
Created a pull request: @ https://github.com/nHapiNET/nHapi/pull/308

[2022-06-15 08:22] jakubsuchybio opened #312 "Add CharSetUtil and PreParser for parsing MSH-18 charset before main parsing"
**Is your feature request related to a problem? Please describe.**
I have ported our java HL7 service into C# few years back, but few features are still missing.
We will soon try to implement some of them. And one of them is parsing charset from the MSH-18

**Describe the solution you'd like**
In Hapi, there is `CharSetUtil` that can get charset from MSH
https://github.com/hapifhir/hapi-hl7v2/blob

[2022-06-26 10:54] milkshakeuk commented on #312
@jakubsuchybio if you do get time please feel free to create a PR as I agree this should be in nHapi since its port of hapi.

[2022-07-19 19:29] #298 closed

[2022-07-19 19:30] milkshakeuk commented on #298
@BogiG this fix will be in the next release.

[2022-07-20 07:36] zigh-code opened #319 "Cannot get ODS segment using terser, when I write a full path"
**Describe the bug**

Cannot get ODS segments in ORDER_DIET  group using terser, when I write a full path

**Screenshots**
![image](https://user-images.githubusercontent.com/12752657/179924359-8f26af7a-4169-4f31-a7a3-7557dc30acca.png)

**Sample HL7**
/.ORDER_DIET(0)/DIET/ODS(0)-1

[2022-07-20 07:50] milkshakeuk commented on #319
@zigh-code do you could you provide some more information? sample hl7, hl7v2 version, perhaps even a unit test or code example?

[2022-07-20 10:45] milkshakeuk commented on #312
@jakubsuchybio I have started looking at this, but haven't made lots of progress, some of the `PreParser` dependencies are crazy to understand and port (without taking additional dependencies).

[2022-07-20 14:27] zigh-code commented on #319
I'm using the last version of the package.
The version of Hl7 in my case is 2.5 (string data),

![image](https://user-images.githubusercontent.com/12752657/180006769-2515f75e-ab9a-44c9-b35e-801117720323.png)
If I try for the TQ1 segment, it work

![image](https://user-images.githubusercontent.com/12752657/180007092-11eef7bf-77e7-4f1e-9cb5-7c0b6cdc5b56.png)
But when I try with ODS, there is an issu

[2022-07-20 15:03] milkshakeuk commented on #319
@zigh-code thanks for the extra info, will take a look when I can.

[2022-07-27 18:44] jakubsuchybio commented on #312
I just looked a bit deeper into this without any coding done yet, but here are my thoughts on this.
We could be the same as hapi (implementing preparser), BUT i don't think this is needed for nHapi.
The only reason for having preparser is to read MSH-18, so that we can read the charset and then parse the message with nHapi's parser in correct encoding.

So, to actually getting the charset we need

[2022-07-28 10:06] milkshakeuk commented on #312
According to the hapi docs the preparser is not just for reading `MSH-18`, that might be one use case but it allows you to pull any field from the message before parsing. This would be useful to have actually.

This is the comment above the class in hapi.

[code]

[2022-07-28 14:55] jakubsuchybio commented on #312
Yes, I saw that and PreParser is a strong utility for sure.

But nHapi can't operate with xml yet right? So only the ER7 part of PreParser makes sense to be implemented. Or am I missing something?

I didn't look at the prerequisities of PreParser in Hapi, but from what I saw it only needs Tokenizer and some string manipulations like Split, which our Parser already has.

However this is also quite

[2022-07-28 15:04] jakubsuchybio commented on #312
Actually I think the correct way to implement PreParser is to do 2 different PreParsers. First that PreParses MSH and Second that PreParses anything else. The First one would use BOM detection or input Encoding. The Second one would use only input Encoding for PreParsing. What do you think?

[2022-07-29 10:13] milkshakeuk commented on #312
If the PreParser could be ported (which it can, its just a little painful) then it would be able to do both right?

[2022-07-29 10:39] jakubsuchybio commented on #312
Well yes, the only difference is the encoding used for transforming byte[] into string, which is then PreParsed.
If the MSH is getting PreParsed it needs to use the encoding from BOM or ASCII.
If anything else is getting PreParsed it needs to use the encoding from MSH-18 or some predefined receiving encoding (from some settings)

It can be done in one function, because I can see the use case of ge

[2022-07-29 13:28] milkshakeuk commented on #312
from what I can tell it looks like hapi might do this.

[2022-08-01 08:33] code-mantis opened #322 "Self referencing loop detected"
**Describe the bug**
Self referencing loop detected for property 'Message' with type 'NHapi.Model.V23.Message.QRY_R02'. Path 'MSH.FieldSeparator'.

**To Reproduce**
[code]

**Sample HL7**
[code]

**Environmental Details (please complete the following information):**

- OS: Windows 11
- Target Framework net461
- Version 3.1.1
- HL7 Version 2.3

[2022-08-02 08:17] code-mantis commented on #322
The problem was a using to wrong version.

[2022-08-02 08:17] #322 closed

[2022-08-26 14:51] milkshakeuk commented on #319
@zigh-code sorry for the long delay in getting back to you, I think I found the issue, its related to how java and dotnet use regex slightly differently so basically a bug in the port.

I will hopefully have a PR for this in the coming days.

[2022-08-29 14:04] milkshakeuk commented on #319
@zigh-code I have put up a PR to fix this and included a unit test to prove it works.

[2022-09-01 14:24] #319 closed

[2022-09-01 14:25] milkshakeuk commented on #319
@zigh-code this fix will go out in the next release, hoping to get a few more changes in first though

[2022-09-01 14:26] milkshakeuk commented on #301
@laxmi-lal-menaria any updates on your PR?

[2022-09-05 06:21] stormcrow79 opened #341 "Incorrect repeat counts for OBX-8/9/10/16 in v2.4"
NHapi.Model.V24.OBX has incorrect repeat counts for the following fields:
- OBX-8 Abnormal Flags is 1, should be 5
- OBX-9 Probability is 5, should be 1
- OBX-10 Nature of Abnormal Test is 1, should be unlimited
- OBX-16 Responsible Observer is 1, should be unlimited

![image](https://user-images.githubusercontent.com/2193596/188373110-8a9444f0-3955-44bd-a600-ed357243c7c0.png)

NHapi 2.5.0.6 to 3.

[2022-09-06 09:22] milkshakeuk commented on #341
@stormcrow79 I will take a look into this.

[2022-09-06 11:31] milkshakeuk commented on #341
@stormcrow79 I ran the query in the database and it looks like the database might be incorrect here, I will let the DB maintainer know to see if we can get a fix in to the database before we consider any PRs.

<img width="324" alt="image" src="https://user-images.githubusercontent.com/1087376/188625039-8744c605-c2e1-4681-bbe1-1b1873a0746a.png">

[2022-09-06 18:11] milkshakeuk commented on #341
@stormcrow79 seems it is an issue with the database, when I get an updated copy of the DB I should be able to generate the fix.

![Screenshot_20220906-190921.png](https://user-images.githubusercontent.com/1087376/188708096-d48cf14a-11c5-435a-9aa8-cce2bf59a6b8.png)

[2022-09-07 00:21] stormcrow79 commented on #341
Great, thanks @milkshakeuk . I've been sitting on this one since Sep 2020 when 2.x was unmaintained!

[2022-09-11 18:54] milkshakeuk commented on #312
@jakubsuchybio I'm getting somewhere with the `XML` `PreParser` now, might have cracked the hardest to port bit since Hapi (java) uses `SAXParser` to iterate the xml in a very strange way and dotnet doesn't do anything like that.

Given the following XML:

[code]
and this implementation for using `XDocument` and `DatumPath` to find values:
[code]
![image](https://user-images.githubusercontent.com/

[2022-09-20 11:31] MathieuMauron opened #352 "ADT_A28 / ADT_A31 / ADT_A47 missed since v2.4"
in v2.3.1 models for :
ADT_A28
ADT_A31
ADT_A47

are ok, but in v2.4 and all other versions missed.
it's really a big problem because those messages are for common things

[2022-09-20 13:40] milkshakeuk commented on #352
hi @MathieuMauron have you checked this section of the wiki?
https://github.com/nHapiNET/nHapi/wiki/Decoding-a-message#event-map-to-code-structure-mappings

[2022-09-21 07:50] MathieuMauron commented on #352
ok thanks,
so in v2.4 for ADT_A28 => its ADT_A05 Model
but for ADT_A31 too

so you can't make a clean switch and cast like that :

  internal static void Parse(IMessage message)
        {
            switch (message)
            {
                case ORU_R01 oru:
                    Parse(oru);
                    break;
                case ADT_A28 adt_a28:
                ......

for version 2.

[2022-09-21 08:59] milkshakeuk commented on #352
@MathieuMauron they are all in the source code but I have gone a head and added them to the wiki.
https://github.com/nHapiNET/nHapi/wiki/Decoding-a-message#event-map-to-code-structure-mappings

[2022-09-22 07:58] milkshakeuk commented on #352
@MathieuMauron I am going to close this issue for now, since this is how `nHapi` works by design, if you feel like this is still an issue please feel free to re-open with details as to why.

[2022-09-22 07:58] #352 closed

[2022-10-06 08:16] stormcrow79 commented on #341
hey @milkshakeuk what's the release cadence for the db?

[2022-10-10 15:10] milkshakeuk commented on #312
@jakubsuchybio just doing some final prep for the pull request, 🤞this week it will be up.

[2022-10-14 10:33] jakubsuchybio commented on #312
Well, we implement our own MLLP support in which we would use it from nHapi.

So maybe until MLLP support is in nHapi, maybe this `CheckCharset` could be public?

I looked into our old Java code and I found that we had our own reimplementation of LLP folder which was in hapi.base.
We were using hapi v2.2
I don't know the specifics of this reimplementation, but for example that `CheckCharset` was p

[2022-10-14 10:36] milkshakeuk commented on #312
@jakubsuchybio, yeah we could make it public for now at least and sure it might be worth having a look at other MLLP implementations, I know [HL7Fuse](https://github.com/dib0/HL7Fuse) has an implementation also.

[2022-10-21 08:54] #312 closed

[2022-10-31 20:21] milkshakeuk commented on #282
https://xfischer.github.io/logging-dotnet-core/